[package]
name = "test_wasm_schedule"
version = "0.0.1"
authors = ["thedavidmeister", "thedavidmeister@gmail.com"]
edition = "2021"

[lib]
name = "test_wasm_schedule"
crate-type = ["cdylib", "rlib"]

[[example]]
name = "integrity_test_wasm_schedule"
path = "src/integrity.rs"
crate-type = ["cdylib", "rlib"]

# reminder - do not use workspace deps
[dependencies]
hdk = { path = "../../../../hdk", features = ["unstable-functions"] }
serde = "1.0"
holochain_serialized_bytes = "0.0.56"
hdi = { path = "../../../../hdi" }

[dev-dependencies]
hdk = { path = "../../../../hdk", features = ["fixturators"] }
fixt = { path = "../../../../fixt" }

[features]
default = []
mock = ["hdk/mock"]
