[package]
name = "holochain_state"
version = "0.1.1-dev.0"
description = "TODO minimize deps"
license-file = "LICENSE_CAL-1.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_state"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2021"

[dependencies]
byteorder = "1.3.4"
cfg-if = "0.1"
chrono = { version = "0.4.22", default-features = false, features = ["clock", "std", "oldtime", "serde"] }
derive_more = "0.99.3"
either = "1.5"
holochain_sqlite = { version = "^0.1.1-dev.0", path = "../holochain_sqlite" }
holo_hash = { version = "^0.1.1-dev.0", path = "../holo_hash", features = ["full"] }
fallible-iterator = "0.2.0"
futures = "0.3"
holochain_keystore = { version = "^0.1.1-dev.0", path = "../holochain_keystore" }
holochain_serialized_bytes = "=0.0.51"
holochain_p2p = { version = "^0.1.1-dev.0", path = "../holochain_p2p" }
holochain_types = { version = "^0.1.1-dev.0", path = "../holochain_types" }
holochain_util = { version = "^0.1.1-dev.0", path = "../holochain_util" }
holochain_zome_types = { version = "^0.1.1-dev.0", path = "../holochain_zome_types", features = [
    "full",
] }
kitsune_p2p = { version = "^0.1.1-dev.0", path = "../kitsune_p2p/kitsune_p2p" }
mockall = "0.10.2"
one_err = "0.0.8"
parking_lot = "0.10"
shrinkwraprs = "0.3.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0.51", features = ["preserve_order"] }
thiserror = "1.0.22"
tokio = { version = "1.11", features = ["full"] }
tracing = "0.1.26"
tracing-futures = "0.2.5"
cron = "0.9"
async-recursion = "0.3"
rand = "0.8.5"
getrandom = "0.2.7"

tempfile = { version = "3.3", optional = true }
base64 = { version = "0.13", optional = true }
nanoid = { version = "0.3", optional = true }

# contrafact
contrafact = { version = "0.1.0-dev.1", optional = true }

[dev-dependencies]
anyhow = "1.0.26"
arbitrary = "1.0"
fixt = { path = "../fixt" }
hdk = { path = "../hdk" }
holochain_wasm_test_utils = { path = "../test_utils/wasm" }
matches = "0.1.8"
observability = "0.1.3"
pretty_assertions = "0.6.1"

tempfile = "3.3"

[features]
default = ["test_utils"]

test_utils = [
    "holochain_types/test_utils",
    "holochain_zome_types/test_utils",
    "base64",
    "contrafact",
    "tempfile",
    "nanoid",
]
