[package]
name = "holochain_state"
version = "0.7.0-dev.9"
description = "Holochain persisted state datatypes and functions"
license = "Apache-2.0"
repository = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_state"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2021"

# reminder - do not use workspace deps
[dependencies]
chrono = { version = "0.4.22", default-features = false, features = [
  "clock",
  "std",
  "oldtime",
  "serde",
] }
derive_more = { version = "2.0", features = ["display", "deref", "deref_mut"] }
holochain_sqlite = { version = "^0.7.0-dev.7", path = "../holochain_sqlite" }
holo_hash = { version = "^0.7.0-dev.3", path = "../holo_hash", features = [
  "full",
] }
fallible-iterator = "0.3.0"
holochain_chc = { version = "^0.4.0-dev.9", path = "../holochain_chc" }
holochain_keystore = { version = "^0.7.0-dev.5", path = "../holochain_keystore" }
holochain_serialized_bytes = "=0.0.56"
holochain_types = { version = "^0.7.0-dev.9", path = "../holochain_types" }
holochain_zome_types = { version = "^0.7.0-dev.5", path = "../holochain_zome_types", features = [
  "full",
] }
holochain_state_types = { version = "^0.7.0-dev.4", path = "../holochain_state_types" }
holochain_nonce = { version = "^0.7.0-dev.0", path = "../holochain_nonce" }
holochain_timestamp = { version = "^0.7.0-dev.0", path = "../timestamp", optional = true }
one_err = "0.0.8"
shrinkwraprs = "0.3.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
thiserror = "2.0"
tokio = { version = "1.36.0", features = ["full"] }
tracing = "0.1.26"
cron = "0.15"
async-recursion = "1.1"

kitsune2_api = "0.4.0-dev.2"

tempfile = { version = "3.3", optional = true }
base64 = { version = "0.22", optional = true }
nanoid = { version = "0.4", optional = true }

# contrafact
contrafact = { version = "0.2.0-rc.1", optional = true }

[dev-dependencies]
holochain_state = { path = ".", features = ["test_utils", "sqlite"] }

fixt = { path = "../fixt" }
holochain_wasm_test_utils = { path = "../test_utils/wasm", features = [
  "build",
] }
holochain_trace = { version = "^0.7.0-dev.0", path = "../holochain_trace" }
matches = "0.1.8"
tempfile = "3.3"
rand = "0.9"
test-case = "3.3"

[lints]
workspace = true

[features]
default = []

fuzzing = ["holochain_types/fuzzing", "holochain_zome_types/fuzzing"]

test_utils = [
  "holochain_chc/test_utils",
  "holochain_keystore/test_utils",
  "holochain_types/test_utils",
  "holochain_zome_types/test_utils",
  "holochain_sqlite/test_utils",
  "dep:holochain_timestamp",
  "base64",
  "contrafact",
  "tempfile",
  "nanoid",
]

instrument = []

sqlite-encrypted = [
  "holo_hash/sqlite-encrypted",
  "holochain_sqlite/sqlite-encrypted",
  "holochain_keystore/sqlite-encrypted",
  "holochain_types/sqlite-encrypted",
  "holochain_zome_types/sqlite-encrypted",
]
sqlite = [
  "holo_hash/sqlite",
  "holochain_sqlite/sqlite",
  "holochain_keystore/sqlite",
  "holochain_types/sqlite",
  "holochain_zome_types/sqlite",
]
