[package]
name = "holochain_zome_types"
version = "0.0.3"
description = "Holochain zome types"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://github.com/holochain/holochain"
readme = "README.md"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4.6"
holo_hash = { version = "0.0.3", path = "../holo_hash" }
holochain_serialized_bytes = "=0.0.51"
paste = "=1.0.5"
serde = { version = "1.0", features = [ "derive" ] }
serde_bytes = "0.11"
subtle = "2"
thiserror = "1.0.22"
tracing = "0.1"
holochain_wasmer_common = "=0.0.73"

# fixturator dependencies
fixt = { version = "0.0.3", path = "../fixt", optional = true }
strum = { version = "0.18.0", optional = true }
rand = {version = "0.7", optional = true}

# sqlite dependencies
rusqlite = { version = "0.25", optional = true }
num_enum = { version = "0.5", optional = true }

# full-dna-def dependencies
derive_builder = { version = "0.9", optional = true }
nanoid = { version = "0.3", optional = true }
shrinkwraprs = { version = "0.3", optional = true }

# arbitrary
arbitrary = { version = "1.0", features = ["derive"], optional = true}

# contrafact
contrafact = { version = "0.1.0-dev.1", optional = true }
once_cell = { version = "1.4", optional = true }

[dev-dependencies]
once_cell = { version = "1.4", optional = false }

[features]
default = ["full-dna-def", "fixturators", "test_utils"]

# Extra impls for DnaDef, including InlineZome, which are not used in Wasm
# but used in Holochain
full-dna-def = ["derive_builder", "nanoid", "shrinkwraprs"]

full = ["default", "rusqlite", "num_enum"]

fixturators = ["fixt", "rand", "strum", "holo_hash/fixturators", ]

test_utils = [
  "arbitrary",
  "contrafact",
  "once_cell",
  "holo_hash/arbitrary",
  "holo_hash/hashing",
  "holo_hash/test_utils",
  "holochain_serialized_bytes/arbitrary",
  "full-dna-def"
]
