[package]
name = "holochain_zome_types"
version = "0.0.2-alpha.1"
description = "Holochain zome types"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://github.com/holochain/holochain"
readme = "README.md"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4.6"
holo_hash = { version = "0.0.2-alpha.1", path = "../holo_hash" }
holochain_serialized_bytes = "=0.0.50"
paste = "=1.0.5"
serde = { version = "1.0", features = [ "derive" ] }
serde_bytes = "0.11"
subtle = "2"
thiserror = "1.0.22"
tracing = "0.1"

# fixturator dependencies
fixt = { version = "^0.0.2-alpha.1", path = "../fixt", optional = true }
strum = { version = "0.18.0", optional = true }
rand = {version = "0.7", optional = true}

# full-dna-def dependencies
derive_builder = { version = "0.9", optional = true }
nanoid = { version = "0.3", optional = true }
shrinkwraprs = { version = "0.3", optional = true }

[features]
default = ["full-dna-def", "fixturators", "test_utils"]

# Extra impls for DnaDef, including InlineZome, which are not used in Wasm
# but used in Holochain
full-dna-def = ["derive_builder", "nanoid", "shrinkwraprs"]

fixturators = ["fixt", "rand", "strum", "holo_hash/fixturators", ]

test_utils = ["holo_hash/hashing", "holo_hash/test_utils", "full-dna-def"]
