[package]
name = "holochain_zome_types"
version = "0.0.42-dev.0"
description = "Holochain zome types"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_zome_types"
readme = "README.md"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
kitsune_p2p_timestamp = { version = "0.0.11", path = "../kitsune_p2p/timestamp" }
holochain_integrity_types = { version = "0.0.13-dev.0", path = "../holochain_integrity_types", features = ["tracing"] }
holo_hash = { version = "0.0.31-dev.0", path = "../holo_hash" }
holochain_serialized_bytes = "=0.0.51"
paste = "=1.0.5"
serde = { version = "1.0", features = [ "derive", "rc" ] }
serde_bytes = "0.11"
serde_yaml = { version = "0.8", optional = true }
subtle = "2"
thiserror = "1.0.22"
tracing = "0.1"
holochain_wasmer_common = "=0.0.80"

# fixturator dependencies
fixt = { version = "0.0.14-dev.0", path = "../fixt", optional = true }
strum = { version = "0.18.0", optional = true }
rand = { version = "0.8.5", optional = true }

# sqlite dependencies
rusqlite = { version = "0.26", optional = true }
num_enum = { version = "0.5", optional = true }

# full-dna-def dependencies
derive_builder = { version = "0.9", optional = true }
kitsune_p2p_dht = { version = "0.0.2-dev.0", path = "../kitsune_p2p/dht", optional = true }
nanoid = { version = "0.3", optional = true }
shrinkwraprs = { version = "0.3", optional = true }

# arbitrary
arbitrary = { version = "1.0", features = ["derive"], optional = true}

# contrafact
contrafact = { version = "0.1.0-dev.1", optional = true }
once_cell = { version = "1.4", optional = true }

# for hex encoding of signatures
subtle-encoding = {version = "0.5", optional = true}

[dev-dependencies]
once_cell = { version = "1.4", optional = false }
matches = "0.1"

[features]
default = ["full-dna-def", "fixturators", "test_utils", "subtle-encoding"]

# Extra impls for DnaDef, including InlineZome, which are not used in Wasm
# but used in Holochain
full-dna-def = ["derive_builder", "kitsune_p2p_dht", "nanoid", "shrinkwraprs"]

full = ["default", "rusqlite", "num_enum", "kitsune_p2p_timestamp/full", "properties"]

fixturators = ["fixt", "rand", "strum", "holo_hash/fixturators", "holochain_integrity_types/test_utils"]

properties = ["serde_yaml"]

test_utils = [
  "arbitrary",
  "contrafact",
  "once_cell",
  "kitsune_p2p_timestamp/arbitrary",
  "kitsune_p2p_timestamp/now",
  "kitsune_p2p_timestamp/rusqlite",
  "holo_hash/arbitrary",
  "holo_hash/hashing",
  "holo_hash/test_utils",
  "holochain_serialized_bytes/arbitrary",
  "full-dna-def",
  "holochain_integrity_types/test_utils",
]
