[package]
name = "holochain_nonce"
version = "0.3.2"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
edition = "2021"
description = "This crate is for generating nonces."
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_nonces"

# reminder - do not use workspace deps
[dependencies]
getrandom = { version = "0.2.7", default-features = false, features = ["std"] }
kitsune_p2p_timestamp = { version = "^0.3.2", path = "../kitsune_p2p/timestamp" }
holochain_secure_primitive = { version = "^0.3.2", path = "../holochain_secure_primitive", default-features = false }

[lints]
workspace = true
