[package]
name = "kitsune_p2p"
version = "0.0.1"
description = "p2p / dht communication framework"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://github.com/holochain/holochain"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "p2p", "dht", "networking" ]
categories = [ "network-programming" ]
edition = "2018"

[dependencies]
derive_more = "0.99.11"
futures = "0.3"
ghost_actor = "0.3.0-alpha.1"
kitsune_p2p_types = { version = "0.0.1", path = "../types" }
kitsune_p2p_proxy = { version = "0.0.1", path = "../proxy" }
kitsune_p2p_transport_quic = { version = "0.0.1", path = "../transport_quic" }
lair_keystore_api = "=0.0.1-alpha.10"
rand = "0.7"
shrinkwraprs = "0.3.0"
thiserror = "1.0.23"
tokio = { version = "0.2", features = [ "full" ] }
url2 = "0.0.6"
serde = { version = "1.0.104", features = [ "derive" ] }
serde_bytes = "0.11"
reqwest = "0.10.8"
once_cell = "1.4.1"
fixt = { path = "../../fixt" }
observability = "0.1.2"

[dev-dependencies]
assert_matches = "1.3"
tracing-subscriber = "0.2"
