[package]
name = "kitsune_p2p"
version = "0.0.10"
description = "p2p / dht communication framework"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/kitsune_p2p"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
keywords = ["holochain", "holo", "p2p", "dht", "networking"]
categories = ["network-programming"]
edition = "2018"

[dependencies]
arrayref = "0.3.6"
base64 = "0.13"
bloomfilter = { version = "1.0.5", features = ["serde"] }
derive_more = "0.99.11"
futures = "0.3"
ghost_actor = "=0.3.0-alpha.4"
governor = "0.3.2"
itertools = "0.10"
kitsune_p2p_mdns = { version = "0.0.2", path = "../mdns" }
kitsune_p2p_timestamp = { version = "0.0.5", path = "../timestamp" }
kitsune_p2p_types = { version = "0.0.9", path = "../types" }
kitsune_p2p_proxy = { version = "0.0.9", path = "../proxy" }
kitsune_p2p_transport_quic = { version = "0.0.9", path = "../transport_quic" }
mockall = { version = "0.10.2", optional = true }
parking_lot = "0.11.1"
rand = "0.7"
shrinkwraprs = "0.3.0"
thiserror = "1.0.22"
tokio = { version = "1.11", features = ["full"] }
tokio-stream = "0.1"
url2 = "0.0.6"
serde = { version = "1.0", features = ["derive"] }
serde_bytes = "0.11"
reqwest = "0.11.2"
once_cell = "1.4.1"
fixt = { path = "../../fixt", version = "0.0.7"}
observability = "0.1.3"

# arbitrary could be made optional
arbitrary = { version = "1.0", features = ["derive"] }

[dev-dependencies]
maplit = "1"
matches = "0.1"
mockall = "0.10.2"
test-case = "1.0.0"
tracing-subscriber = "0.2"

[features]
test_utils = [
  "tokio/test-util",
  "ghost_actor/test_utils",
  "kitsune_p2p_types/test_utils",
  "mockall",
  "kitsune_p2p_timestamp/now"
]
mock_network = [
  "kitsune_p2p_types/test_utils",
  "mockall",
]