[workspace]
members = [
  "crates/crypto",
  "crates/dna_util",
  "crates/fixt",
  "crates/fixt/test",
  "crates/hdk",
  "crates/holo_hash",
  "crates/holochain",
  "crates/holochain_p2p",
  "crates/keystore",
  "crates/kitsune_p2p/kitsune_p2p",
  "crates/kitsune_p2p/transport_quic",
  "crates/kitsune_p2p/types",
  "crates/legacy",
  "crates/state",
  "crates/test_utils/wasm",
  "crates/test_utils/wasm_common",
  "crates/types",
  "crates/websocket",
]

exclude = [
  "pseudocode",
]

# These are the default params for RELEASE target
# Setting these for all dependencies... we'll only debug our own code
[profile.dev.package."*"]
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
incremental = false
codegen-units = 16

[patch.crates-io]

rkv = { git = "https://github.com/holochain/rkv.git", branch = "master" }
#rkv = { path = "../../rust/rkv" }
lmdb-rkv = { git = "https://github.com/holochain/lmdb-rs.git" }
#lmdb-rkv = { path = "../../rust/lmdb-rs" }
