[workspace]
members = [
  "crates/fixt",
  "crates/fixt/test",
  "crates/hdk",
  "crates/hdk_derive",
  "crates/holo_hash",
  "crates/hdi",
  "crates/mock_hdi",
  "crates/mr_bundle",

  "crates/holochain_integrity_types",
  "crates/holochain_zome_types",
  "crates/holochain_types",
  "crates/holochain",
  "crates/holochain_cascade",
  "crates/holochain_conductor_api",
  "crates/holochain_p2p",
  "crates/holochain_keystore",
  "crates/holochain_sqlite",
  "crates/holochain_state",
  "crates/holochain_sqlite",
  "crates/holochain_websocket",
  "crates/holochain_util",

  "crates/hc",
  "crates/hc_bundle",
  "crates/hc_sandbox",

  "crates/kitsune_p2p/bootstrap",
  "crates/kitsune_p2p/dht",
  "crates/kitsune_p2p/dht_arc",
  "crates/kitsune_p2p/direct",
  "crates/kitsune_p2p/direct_api",
  "crates/kitsune_p2p/direct_test",
  "crates/kitsune_p2p/fetch",
  "crates/kitsune_p2p/kitsune_p2p",
  "crates/kitsune_p2p/mdns",
  "crates/kitsune_p2p/proxy",
  "crates/kitsune_p2p/timestamp",
  "crates/kitsune_p2p/transport_quic",
  "crates/kitsune_p2p/types",

  "crates/test_utils/wasm",
  "crates/test_utils/wasm_common",
]

exclude = ["crates/release-automation"]

[profile.fast-test]
inherits = "dev"

[profile.fast-test.package."*"]
opt-level = 3
debug = true
debug-assertions = false
overflow-checks = false
incremental = false
codegen-units = 16

[patch.crates-io]
# isotest = { git = "https://github.com/maackle/isotest-rs.git" }
# holochain_wasmer_guest = { git = "https://github.com/holochain/holochain-wasmer.git", branch = "pr/bump-serde" }
# holochain_wasmer_host = { git = "https://github.com/holochain/holochain-wasmer.git", branch = "pr/bump-serde" }
# holochain_wasmer_common = { git = "https://github.com/holochain/holochain-wasmer.git", branch = "pr/bump-serde" }
# holochain_serialized_bytes = { git = "https://github.com/holochain/holochain-serialization.git", branch = "develop" }
# holochain_serialized_bytes_derive = { git = "https://github.com/holochain/holochain-serialization.git", branch = "develop" }
# observability = { git = "https://github.com/freesig/observability.git", branch = "main" }
# ghost_actor = { path = "../ghost_actor/crates/ghost_actor" }
# ghost_actor = { git = "https://github.com/holochain/ghost_actor.git", branch = "add_observability" }
#lair_keystore_api = { path = "../lair/crates/lair_keystore_api" }
#lair_keystore = { path = "../lair/crates/lair_keystore" }
#lair_keystore_api_0_0 = { path = "../lair_0_0/crates/lair_keystore_api", package = "lair_keystore_api" }
#lair_keystore_client_0_0 = { path = "../lair_0_0/crates/lair_keystore_client", package = "lair_keystore_client" }
#lair_keystore_api = { git = "https://github.com/holochain/lair.git", branch = "secretbox" }
#lair_keystore_api_0_0 = { git = "https://github.com/holochain/lair.git", branch = "release-0.0.x-bump-sodoken", package = "lair_keystore_api" }
#lair_keystore_client_0_0 = { git = "https://github.com/holochain/lair.git", branch = "release-0.0.x-bump-sodoken", package = "lair_keystore_client" }
# observability = { path = "../../rust/observability" }
# r2d2_sqlite = { path = "../r2d2-sqlite" }
