[workspace]

members = [
  # "crates/lib3h_protocol",
  # "crates/keystore",
  # "crates/legacy",
  "crates/holochain",
  "crates/state",
  "crates/types",
  "crates/crypto",
  "crates/websocket",
]

exclude = [
  "pseudocode",
  "test_utils/wasm"
]

[patch.crates-io]
# holochain_locksmith = { version = "0.0.43-alpha3", git = "https://github.com/holochain/holochain-rust.git", branch = "unpinned" }

# holochain_json_api = { version = "0.0.23", path = "../holochain-serialization/crates/holochain_json_api" }
# holochain_json_derive = { version = "0.0.23", path = "../holochain-serialization/crates/holochain_json_derive" }
# holochain_json_api = { version = "0.0.23", git = "https://github.com/holochain/holochain-serialization.git", branch = "unpinned" }
# holochain_json_derive = { version = "0.0.23", git = "https://github.com/holochain/holochain-serialization.git", branch = "unpinned" }

lib3h_crypto_api = { version = "0.0.38", git = "https://github.com/holochain/lib3h.git", branch = "unpinned" }
# lib3h_sodium = { version = "0.0.38", git = "https://github.com/holochain/lib3h.git", branch = "unpinned" }

rkv = { git = "https://github.com/holochain/rkv.git", branch = "master" }
#rkv = { path = "../../rust/rkv" }
lmdb-rkv = { git = "https://github.com/holochain/lmdb-rs.git" }
#lmdb-rkv = { path = "../../rust/lmdb-rs" }
