[package]
name = "hcterm"
version = "0.3.0"
description = "A terminal for Holochain"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_terminal"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2021"

# reminder - do not use workspace deps
[dependencies]
anyhow = "1.0"
crossterm = "0.27.0"
ratatui = "0.26"
clap = { version = "4", features = ["derive"] }
url = "2"
once_cell = "1"
chrono = "0.4"
holo_hash = { version = "^0.3.0-beta-dev.28", path = "../holo_hash", features = ["encoding"] }
kitsune_p2p_types = { version = "^0.3.0-beta-dev.28", path = "../kitsune_p2p/types" }
kitsune_p2p_bin_data = { version = "^0.3.0-beta-dev.21", path = "../kitsune_p2p/bin_data" }
kitsune_p2p_bootstrap_client = { version = "^0.3.0-beta-dev.34", path = "../kitsune_p2p/bootstrap_client" }
holochain_util = { version = "^0.3.0-beta-dev.8", path = "../holochain_util" }
holochain_conductor_api = { version = "^0.3.0-beta-dev.47", path = "../holochain_conductor_api" }
holochain_websocket = { version = "^0.3.0-beta-dev.22", path = "../holochain_websocket" }
holochain_types = { version = "^0.3.0-beta-dev.43", path = "../holochain_types" }
tokio = { version = "1.36.0", features = ["full"] }

[lints]
workspace = true
