[package]
name = "hcterm"
version = "0.7.0-dev.6"
description = "A terminal for Holochain"
license = "Apache-2.0"
repository = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_terminal"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2021"
default-run = "hcterm"

[[bin]]
name = "hcterm"
path = "src/main.rs"

# reminder - do not use workspace deps
[dependencies]
anyhow = "1.0"
crossterm = "0.29"
ratatui = "0.29"
clap = { version = "4", features = ["derive"] }
url = "2"
once_cell = "1"
chrono = "0.4"
holo_hash = { version = "^0.7.0-dev.2", path = "../holo_hash", features = [
  "encoding",
  "kitsune2",
] }
holochain_client = { version = "^0.9.0-dev.6", path = "../client", default-features = false }
holochain_util = { version = "^0.7.0-dev.0", path = "../holochain_util" }
holochain_conductor_api = { version = "^0.7.0-dev.6", path = "../holochain_conductor_api", default-features = false }
holochain_types = { version = "^0.7.0-dev.6", path = "../holochain_types" }
tokio = { version = "1.36.0", features = ["full"] }
kitsune2_api = "0.4.0-dev.2"
kitsune2_core = "0.4.0-dev.2"
kitsune2_bootstrap_client = "0.4.0-dev.2"

[lints]
workspace = true
