[package]
name = "holochain_cli_bundle"
version = "0.3.0-beta-dev.35"
description = "DNA and hApp bundling functionality for the `hc` Holochain CLI utility"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_cli_bundle"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo" ]
categories = [ "command-line-utilities", "development-tools::build-utils", "filesystem" ]
edition = "2021"

[[bin]]
name = "hc-app"
path = "src/bin/hc-app.rs"

[[bin]]
name = "hc-dna"
path = "src/bin/hc-dna.rs"

[dependencies]
holochain_wasmer_host = { workspace = true }
wasmer = { workspace = true }
futures = "0.3"
anyhow = "1.0"
clap = { version = "4.0", features = [ "derive" ] }
holochain_util = { path = "../holochain_util", features = ["backtrace"], version = "^0.3.0-beta-dev.4"}
holochain_serialized_bytes = { workspace = true }
holochain_types = { version = "^0.3.0-beta-dev.34", path = "../holochain_types" }
mr_bundle = {version = "^0.3.0-beta-dev.6", path = "../mr_bundle"}
serde = { version = "1.0", features = [ "derive" ] }
serde_bytes = "0.11"
serde_yaml = "0.9"
thiserror = "1.0.22"
tracing = { workspace = true }
tokio = { version = "1.27", features = [ "full" ] }

[dev-dependencies]
assert_cmd = "1.0"
matches = "0.1"
predicates = "1.0"
tempfile = "3"
serde_json = { workspace = true }
jsonschema = "0.17"
walkdir = "2"

[lints]
workspace = true

[features]
sqlite-encrypted = [
    "holochain_types/sqlite-encrypted",
]
sqlite = [
    "holochain_types/sqlite",
]
