[package]
name = "kitsune_p2p_types"
version = "0.0.37"
description = "types subcrate for kitsune-p2p"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/kitsune_p2p_types"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "p2p", "dht", "networking" ]
categories = [ "network-programming" ]
edition = "2021"

[dependencies]
lair_keystore_api = "=0.2.1"
base64 = "0.13"
derive_more = "0.99.7"
futures = "0.3"
ghost_actor = "=0.3.0-alpha.4"
kitsune_p2p_dht = { version = "0.0.9", path = "../dht" }
kitsune_p2p_dht_arc = { version = "0.0.16", path = "../dht_arc" }
lru = "0.6.5"
mockall = { version = "0.10.2", optional = true }
nanoid = "0.3"
observability = "0.1.3"
once_cell = "1.4"
parking_lot = "0.11"
paste = "1.0.5"
rmp-serde = "0.15"
rustls = { version = "0.20.4", features = [ "dangerous_configuration" ] }
serde = { version = "1", features = [ "derive", "rc" ] }
serde_bytes = "0.11"
serde_json = { version = "1", features = [ "preserve_order" ] }
shrinkwraprs = "0.3.0"
sysinfo = "0.15.9"
thiserror = "1.0.22"
tokio = { version = "1.11", features = [ "full" ] }
tokio-stream = { version = "0.1", features = [ "sync", "net" ] }
url = "2"
url2 = "0.0.6"
webpki = "0.22.0"

# arbitrary
arbitrary = { version = "1.0", features = ["derive"], optional = true}

[dev-dependencies]
kitsune_p2p_types = {path = ".", features = ["test_utils"]}
criterion = "0.3.4"
tracing-subscriber = "0.2"

[[bench]]
name = "api_thru"
harness = false

[features]
test_utils = [
  "arbitrary",
  "kitsune_p2p_dht_arc/test_utils",
  "ghost_actor/test_utils",
  "mockall",
]
