[package]
name = "kitsune_p2p_types"
version = "0.0.1"
description = "types subcrate for kitsune-p2p"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://github.com/holochain/holochain"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "p2p", "dht", "networking" ]
categories = [ "network-programming" ]
edition = "2018"

[dependencies]
derive_more = "0.99.7"
futures = { version = "0.3.12", features = [
  "unstable", "bilock" # <-- used for test mem async channel
] }
ghost_actor = "0.3.0-alpha.1"
nanoid = "0.3"
observability = "0.1.3"
once_cell = "1.4"
paste = "1.0.3"
rmp-serde = "0.14"
serde = { version = "1", features = [ "derive", "rc" ] }
serde_json = { version = "1", features = [ "preserve_order" ] }
sysinfo = "0.15.9"
thiserror = "1.0.22"
tokio = { version = "0.2", features = [ "full" ] }
url2 = "0.0.6"

[dev-dependencies]
criterion = "0.3"
tracing-subscriber = "0.2"

[[bench]]
name = "async_bucket"
harness = false

[[bench]]
name = "async_read_into_vec"
harness = false
