[package]
name = "holochain_integrity_types"
version = "0.3.0-beta-dev.26"
description = "Holochain integrity types"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_integrity_types"
readme = "README.md"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2021"

[dependencies]
holo_hash = { version = "^0.3.0-beta-dev.22", path = "../holo_hash" }
holochain_serialized_bytes = { workspace = true }
holochain_util = { version = "^0.3.0-beta-dev.4", path = "../holochain_util", default-features = false }
holochain_secure_primitive = { version = "^0.3.0-beta-dev.21", path = "../holochain_secure_primitive"}
paste = "1.0"
serde = { version = "1.0", features = ["derive", "rc"] }
serde_bytes = "0.11"

# Just the bare minimum timestamp with no extra features.
# TODO: This needs to point to a published version of this crate and be pinned.
kitsune_p2p_timestamp = { version = "^0.3.0-beta-dev.7", path = "../kitsune_p2p/timestamp", default-features = false }

# TODO: Figure out how to remove these dependencies.
subtle = "2"

# full-dna-def dependencies
derive_builder = { version = "0.9", optional = true }

# Optional
arbitrary = { version = "1.0", features = ["derive"], optional = true }
proptest = {version = "1", optional = true}
proptest-derive = {version = "0", optional = true}
subtle-encoding = {version = "0.5", optional = true}
tracing = { version = "0.1", optional = true }

[dev-dependencies]
holochain_integrity_types = { path = ".", features = ["test_utils", "fuzzing"]}
serde_json = { workspace = true }

[features]
default = []

hashing = [
    "holo_hash/hashing",
]

full = ["default", "hashing", "subtle-encoding", "kitsune_p2p_timestamp/full"]

full-dna-def = ["derive_builder"]

fuzzing = [
  "arbitrary",
  "proptest",
  "proptest-derive",
  "kitsune_p2p_timestamp/fuzzing",
  "holochain_serialized_bytes/fuzzing",
  "holo_hash/fuzzing",
]

test_utils = [
  "full",
  "kitsune_p2p_timestamp/now",
  "holo_hash/hashing",
  "holo_hash/test_utils",
]
