[package]
name = "hdk3"
version = "0.0.1"
description = "third iteration of the holochain hdk"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://github.com/holochain/holochain"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "hdk" ]
categories = [ "cryptography" ]
edition = "2018"

[lib]
crate-type = [ "cdylib", "rlib" ]
path = "src/lib.rs"

[dependencies]
hdk3_derive = { version = "0.0.1", path = "../hdk3_derive" }
holo_hash = { path = "../holo_hash" }
holochain_wasmer_guest = "0.0.64"
holochain_zome_types = { path = "../holochain_zome_types" }
paste = "=1.0.3"
serde = "1.0"
serde_bytes = "0.11"
thiserror = "1.0.22"

[dev-dependencies]
fixt = { path = "../fixt" }
