[package]
name = "test_wasm_hash_entry"
version = "0.0.1"
authors = [ "thedavidmeister", "thedavidmeister@gmail.com" ]
edition = "2021"

[lib]
name = "test_wasm_hash_entry"
crate-type = [ "cdylib", "rlib" ]

[dependencies]
hdk = { path = "../../../../hdk" }
serde = "1.0"

[dev-dependencies]
hdk = { path = "../../../../hdk", features = ["fixturators"] }
fixt = { path = "../../../../fixt" }

[features]
default = []
mock = ["hdk/mock"]
