[package]
name = "test_wasm_integrity_zome"
version = "0.0.1"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2021"
publish = false

[lib]
name = "test_wasm_integrity_zome"
crate-type = ["cdylib", "rlib"]

# reminder - do not use workspace deps
[dependencies]
serde = "1.0"
holochain_serialized_bytes = "0.0.56"
hdi = { path = "../../../../hdi" }

[features]
default = []
