[package]
name = "influxive-core"
version = "0.0.6-dev.0"
description = "Core types for influxive crates"
documentation = "https://docs.rs/influxive-core"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/holochain/holochain"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
keywords = ["metrics"]
categories = ["development-tools"]

[dependencies]
