[package]
name = "test_wasm_capability"
version = "0.0.1"
authors = [ "thedavidmeister", "thedavidmeister@gmail.com" ]
edition = "2021"

[lib]
name = "test_wasm_capability"
crate-type = [ "cdylib", "rlib" ]

[dependencies]
hdk = { path = "../../../../hdk" }
serde = "1.0"

[features]
default = []
mock = ["hdk/mock"]
