[package]
name = "holochain_wasm_test_utils"
version = "0.0.68"
authors = [ "thedavidmeister", "thedavidmeister@gmail.com" ]
edition = "2021"
description = "Utilities for Wasm testing for Holochain"
license = "Apache-2.0"
documentation = "https://docs.rs/holochain_wasm_test_utils"

[lib]
name = "holochain_wasm_test_utils"
crate-type = [ "cdylib", "rlib" ]
path = "./src/lib.rs"

[features]
default = []
build = []
only_check = []


[dependencies]
holochain_types = { path = "../../holochain_types", version = "^0.0.66"}
strum = "0.18.0"
strum_macros = "0.18.0"
holochain_util = { version = "0.0.12", path = "../../holochain_util" }

[build-dependencies]
toml = "0.5"
walkdir = "2.3.1"
