[package]
name = "holochain_wasm_test_utils"
version = "0.6.0-dev.31"
authors = ["thedavidmeister", "thedavidmeister@gmail.com"]
edition = "2021"
description = "Utilities for Wasm testing for Holochain"
license = "Apache-2.0"
documentation = "https://docs.rs/holochain_wasm_test_utils"

[lib]
name = "holochain_wasm_test_utils"
crate-type = ["cdylib", "rlib"]
path = "./src/lib.rs"

[features]
default = []
build = []
only_check = []
unstable-functions = []

# reminder - do not use workspace deps
[dependencies]
holochain_types = { version = "^0.6.0-dev.31", path = "../../holochain_types" }
strum = "0.27"
strum_macros = "0.27"

[build-dependencies]
toml = "0.8"
walkdir = "2.3.1"
