[package]
name = "holochain_wasm_test_utils"
version = "0.0.1"
authors = [ "thedavidmeister", "thedavidmeister@gmail.com" ]
edition = "2018"

[lib]
name = "holochain_wasm_test_utils"
crate-type = [ "cdylib", "rlib" ]
path = "./src/lib.rs"

[features]
default = []
build = []
only_check = []


[dependencies]
fixt = { path = "../../fixt" }
holo_hash = { path = "../../holo_hash" }
holochain_types = { path = "../../holochain_types" }
holochain_zome_types = { path = "../../holochain_zome_types" }
rand = "0.7"
strum = "0.18.0"
strum_macros = "0.18.0"
tokio_helper = { version = "0.0.1", path = "../../tokio_helper" }

[build-dependencies]
toml = "0.5"
walkdir = "2.3.1"
