[package]
name = "hc_sleuth"
version = "0.2.0-beta-dev.5"
description = "Tool for diagnosing problems with Holochain"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/hc_sleuth"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo" ]
edition = "2021"

[dependencies]
anyhow = "1.0"
aitia = { version = "^0.2.0-beta-dev.3", path = "../aitia" }
derive_more = "0.99"
holochain_state_types = { version = "^0.3.0-beta-dev.32", path = "../holochain_state_types" }
holochain_types = { version = "^0.3.0-beta-dev.32", path = "../holochain_types" }
holochain_trace = { version = "^0.3.0-beta-dev.6", path = "../holochain_trace" }
kitsune_p2p = { version = "^0.3.0-beta-dev.30", path = "../kitsune_p2p/kitsune_p2p" }
once_cell = { workspace = true }
parking_lot = "0.10"
petgraph = "0.6"
regex = "1"
serde = { version = "1.0", features = ["derive"]}
tracing = { workspace = true }
tracing-subscriber = "0.3"

structopt = "0.3"

[dev-dependencies]
hc_sleuth = { path = ".", features = ["test_utils"]}

arbitrary = { version = "1.0", features = ["derive"] }
pretty_assertions = "1.4"

[features]

test_utils = [
    "holochain_types/fuzzing",
    "kitsune_p2p/fuzzing",
    "holochain_types/test_utils",
    "kitsune_p2p/test_utils",
]


# # CLI tool is a work in progress
# [[bin]]
# name = "hc_sleuth"
# path = "src/main.rs"
