[package]
name = "hc_sleuth"
version = "0.2.0-beta-dev.17"
description = "Tool for diagnosing problems with Holochain"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/hc_sleuth"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
keywords = ["holochain", "holo"]
edition = "2021"

# reminder - do not use workspace deps
[dependencies]
anyhow = "1.0"
aitia = { version = "^0.2.0-beta-dev.9", path = "../aitia" }
derive_more = "0.99"
holochain_state_types = { version = "^0.3.0-beta-dev.40", path = "../holochain_state_types" }
holochain_types = { version = "^0.3.0-beta-dev.43", path = "../holochain_types" }
holochain_trace = { version = "^0.3.0-beta-dev.11", path = "../holochain_trace" }
kitsune_p2p = { version = "^0.3.0-beta-dev.40", path = "../kitsune_p2p/kitsune_p2p" }
once_cell = "1.18"
parking_lot = "0.12"
petgraph = "0.6"
regex = "1"
serde = { version = "1.0", features = ["derive"] }
tracing = "0.1"
tracing-subscriber = "0.3"

structopt = "0.3"

[dev-dependencies]
hc_sleuth = { path = ".", features = ["test_utils"] }

arbitrary = { version = "1.0", features = ["derive"] }
pretty_assertions = "1.4"

[lints]
workspace = true

[features]

test_utils = [
  "holochain_types/fuzzing",
  "kitsune_p2p/fuzzing",
  "holochain_types/test_utils",
  "kitsune_p2p/test_utils",
]


# # CLI tool is a work in progress
# [[bin]]
# name = "hc_sleuth"
# path = "src/main.rs"
