[package]
name = "test_wasm_ser_regression"
version = "0.0.1"
authors = [ "thedavidmeister", "thedavidmeister@gmail.com", "freesig" ]
edition = "2021"

[lib]
name = "test_wasm_ser_regression"
crate-type = [ "cdylib", "rlib" ]

[[example]]
name = "integrity_test_wasm_ser_regression"
path = "src/integrity.rs"
crate-type = ["cdylib", "rlib"]

[dependencies]
derive_more = { workspace = true }
serde = { workspace = true }
hdk = { path = "../../../../hdk" }
hdi = { path = "../../../../hdi" }

[features]
default = []
mock = ["hdk/mock"]
