[package]
name = "mr_bundle"
version = "0.1.0-beta-rc.0"
authors = ["Michael Dougherty <maackle.d@gmail.com>"]
edition = "2021"
description = "Implements the un-/packing of bundles that either embed or reference a set of resources"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/mr_bundle"

[dependencies]
bytes = "1.0"
derive_more = "0.99"
either = "1.5"
flate2 = "1.0"
holochain_util = { path = "../holochain_util", version = "^0.1.0-beta-rc.0"}
futures = "0.3"
reqwest = "0.11"
rmp-serde = "0.15"
serde = { version = "1.0", features = ["serde_derive", "derive"] }
serde_bytes = "0.11"
serde_derive = "1.0"
thiserror = "1.0"
holochain_wasmer_host = { git = "https://github.com/Sprillow/holochain-wasmer.git", rev = "1323eca56d836d6b0bd9dcff46869638e8c846da" } # "=0.0.82"
wasmer-middlewares = "2"

arbitrary = { version = "1.0", features = ["derive"], optional = true }
serde_yaml = { version = "0.9", optional = true }

[dev-dependencies]
anyhow = "1.0"
matches = "0.1"
maplit = "1"
serde_yaml = "0.9"
tokio = { version = "1.11", features = ["full"] }
tempfile = "3"

[features]

packing = ["serde_yaml", "holochain_util/tokio"]
