[package]
name = "kitsune_p2p_block"
version = "0.2.0-beta-rc.1"
description = "(un)Block datatype for kitsune_p2p"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/kitsune_p2p_block"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "p2p", "dht", "networking" ]
categories = [ "network-programming" ]
edition = "2021"

[dependencies]
kitsune_p2p_timestamp = { version = "^0.2.0-beta-rc.0", path = "../timestamp", features = ["now"] }
kitsune_p2p_bin_data = { version = "^0.2.0-beta-rc.1", path = "../bin_data" }
serde = { version = "1.0", features = ["derive"] }
