[package]
name = "holochain_data"
version = "0.1.0"
edition = "2021"

[dependencies]
sqlx = { version = "0.9.0-alpha.1", features = [
  "runtime-tokio",
  "sqlite",
  "migrate",
  "macros",
  "derive",
] }
num_cpus = "1.13.0"
base64 = "0.22"
sodoken = "0.1.0"
tokio = { version = "1.27", features = ["full"] }
libsqlite3-sys = { version = "*", features = [
  "bundled-sqlcipher-vendored-openssl",
] }

[dev-dependencies]
holochain_data = { path = ".", features = ["test-utils"] }

tempfile = "3.3"

[lints]
workspace = true

[features]
test-utils = []
