[package]
name = "holochain_websocket"
version = "0.3.0-beta-dev.12"
description = "Holochain utilities for serving and connection with websockets"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_websocket"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
edition = "2021"

[dependencies]
futures = "0.3"
ghost_actor = "0.4.0-alpha.5"
holochain_serialized_bytes = { workspace = true }
nanoid = "0.3"
net2 = "0.2"
must_future = "0.1"
serde = { version = "1", features = [ "derive" ] }
serde_bytes = "0.11"
stream-cancel = "0.8.0"
thiserror = "1.0.22"
tokio = { version = "1.27", features = [ "full" ] }
tokio-stream = { version = "0.1", features = ["net"] }
tokio-tungstenite = { version = "0.13", features = [ "tls" ] }
tracing = { workspace = true }
tracing-futures = "0.2"
tungstenite = "0.12"
url2 = { workspace = true }

[dev-dependencies]
holochain_types = { version = "^0.3.0-beta-dev.32", path = "../holochain_types", features = ["sqlite"] }
linefeed = "0.6"
unwrap_to = "0.1.0"
holochain_trace = { version = "^0.3.0-beta-dev.6", path = "../holochain_trace" }
criterion = "0.3.4"

[features]
slow_tests = []

[[bench]]
name = "bench"
harness = false
