[package]
name = "holochain_websocket"
version = "0.2.8-rc.1"
description = "Holochain utilities for serving and connection with websockets"
license-file = "LICENSE_CAL-1.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_websocket"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
edition = "2021"

[dependencies]
futures = { workspace = true }
holochain_serialized_bytes = { workspace = true }
serde = { workspace = true }
serde_bytes = { workspace = true }
tokio = { workspace = true }
tokio-tungstenite = { workspace = true }
tracing = { workspace = true }
async-trait = { workspace = true }

[dev-dependencies]
holochain_trace = { version = "^0.2.7", path = "../holochain_trace" }
criterion = "0.3.4"

[[bench]]
name = "bench"
harness = false

[[bench]]
name = "full_connect"
harness = false
