[package]
name = "holochain_websocket"
version = "0.0.1"
description = "Holochain utilities for serving and connection with websockets"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://github.com/holochain/holochain"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
edition = "2018"

[dependencies]
futures = "0.3"
holochain_serialized_bytes = "=0.0.47"
nanoid = "0.3"
net2 = "0.2"
serde = { version = "1", features = [ "derive" ] }
serde_bytes = "0.11"
tokio = { version = "0.2", features = [ "full" ] }
tokio-tungstenite = { version = "0.10.1", features = [ "tls" ] }
tracing = "0.1"
tracing-futures = "0.2"
tungstenite = "0.10"
url2 = "0.0.6"

[dev-dependencies]
holochain_types = { version = "=0.0.1", path = "../holochain_types" }
linefeed = "0.6"
observability = "0.1.2"
