[package]
name = "holochain_p2p"
version = "0.2.0-beta-rc.2"
description = "holochain specific wrapper around more generic p2p module"
license-file = "LICENSE_CAL-1.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_p2p"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "p2p", "dht", "networking" ]
categories = [ "network-programming" ]
edition = "2021"

[dependencies]
async-trait = "0.1"
derive_more = "0.99"
fixt = { path = "../fixt", version = "^0.2.0-beta-rc.0"}
futures = "0.3"
ghost_actor = "0.3.0-alpha.5"
holo_hash = { version = "^0.2.0-beta-rc.2", path = "../holo_hash" }
holochain_keystore = { version = "^0.2.0-beta-rc.2", path = "../holochain_keystore" }
holochain_serialized_bytes = "=0.0.51"
holochain_types = { version = "^0.2.0-beta-rc.2", path = "../holochain_types" }
holochain_zome_types = { version = "^0.2.0-beta-rc.2", path = "../holochain_zome_types" }
kitsune_p2p = { version = "^0.2.0-beta-rc.2", path = "../kitsune_p2p/kitsune_p2p" }
kitsune_p2p_types = { version = "^0.2.0-beta-rc.1", path = "../kitsune_p2p/types" }
mockall = "0.11.3"
holochain_trace = { version = "^0.2.0-beta-rc.1", path = "../holochain_trace" }
rand = "0.8.5"
serde = { version = "1.0", features = ["derive"] }
serde_bytes = "0.11"
serde_json = { version = "1.0.51", features = [ "preserve_order" ] }
thiserror = "1.0.22"
tokio = { version = "1.11", features = [ "full" ] }
tokio-stream = "0.1"
holochain_util = { version = "^0.2.0-beta-rc.0", path = "../holochain_util" }

[features]
mock_network = [
  "kitsune_p2p/mock_network",
  "kitsune_p2p/test_utils",
]
