[package]
name = "holochain_p2p"
version = "0.7.0-dev.13"
description = "holochain specific wrapper around more generic p2p module"
license = "Apache-2.0"
repository = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_p2p"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
keywords = ["holochain", "holo", "p2p", "dht", "networking"]
categories = ["network-programming"]
edition = "2021"

# reminder - do not use workspace deps
[dependencies]
async-trait = "0.1"
base64 = "0.22"
blake2b_simd = "1.0.3"
fixt = { path = "../fixt", version = "^0.7.0-dev.0" }
futures = "0.3"
holo_hash = { version = "^0.7.0-dev.3", path = "../holo_hash", features = [
  "kitsune2",
  "encoding",
  "hashing",
] }
holochain_keystore = { version = "^0.7.0-dev.6", path = "../holochain_keystore" }
holochain_serialized_bytes = "=0.0.56"
holochain_types = { version = "^0.7.0-dev.12", path = "../holochain_types" }
holochain_zome_types = { version = "^0.7.0-dev.6", path = "../holochain_zome_types" }
holochain_nonce = { version = "^0.7.0-dev.0", path = "../holochain_nonce" }
mockall = "0.13"
holochain_trace = { version = "^0.7.0-dev.0", path = "../holochain_trace" }
rand = "0.9"
rmp-serde = "1.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
thiserror = "2.0"
tokio = { version = "1.27", features = ["full"] }
tracing = "0.1"
tracing-appender = "0.2.3"
opentelemetry_api = { version = "=0.20.0", features = ["metrics"] }
strum = "0.27.2"
strum_macros = "0.27.2"

kitsune2 = { version = "0.4.0-dev.2", default-features = false }
kitsune2_bootstrap_srv = { version = "0.4.0-dev.2", default-features = false, optional = true }
kitsune2_api = "0.4.0-dev.2"
kitsune2_core = "0.4.0-dev.2"
kitsune2_gossip = "0.4.0-dev.2"
kitsune2_transport_iroh = { version = "0.4.0-dev.2", default-features = false, optional = true }
kitsune2_transport_tx5 = { version = "0.4.0-dev.2", default-features = false, optional = true }
bytes = "1.10"
holochain_sqlite = { version = "^0.7.0-dev.9", path = "../holochain_sqlite" }
lair_keystore_api = "=0.6.3"
parking_lot = "0.12.3"
holochain_state = { version = "^0.7.0-dev.13", path = "../holochain_state" }
holochain_timestamp = { version = "^0.7.0-dev.0", path = "../timestamp" }

[dev-dependencies]
holochain_p2p = { path = ".", default-features = false, features = [
  "test_utils",
] }
holochain_sqlite = { version = "^0.7.0-dev.9", path = "../holochain_sqlite", features = [
  "test_utils",
] }
holochain_state = { path = "../holochain_state", features = ["test_utils"] }
tempfile = "3.21.0"
# used for setting default crypto provider with iroh relay
rustls = "0.23"

[lints]
workspace = true

[features]
default = ["transport-iroh"]

test_utils = [
  "holochain_zome_types/test_utils",
  "holochain_zome_types/fixturators",
  "holochain_types/test_utils",
]

sqlite-encrypted = [
  "holo_hash/sqlite-encrypted",
  "holochain_keystore/sqlite-encrypted",
]
sqlite = ["holo_hash/sqlite", "holochain_keystore/sqlite"]

transport-iroh = [
  "dep:kitsune2_transport_iroh",
  "kitsune2/transport-iroh",
  "kitsune2_bootstrap_srv/iroh-relay",
]

transport-tx5-backend-go-pion = [
  "kitsune2_transport_tx5/backend-go-pion",
  "kitsune2/transport-tx5-backend-go-pion",
  "kitsune2_bootstrap_srv/sbd",
]

# Enables tracing instrumentation
# (we experience segfaults in some tests if there is too much instrumentation)
instrument = []
