[package]
name = "holochain_p2p"
version = "0.3.0-beta-dev.37"
description = "holochain specific wrapper around more generic p2p module"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_p2p"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "p2p", "dht", "networking" ]
categories = [ "network-programming" ]
edition = "2021"

[dependencies]
aitia = { version = "^0.2.0-beta-dev.5", path = "../aitia" }
async-trait = { workspace = true }
derive_more = { workspace = true }
fixt = { path = "../fixt", version = "^0.3.0-beta-dev.2"}
futures = "0.3"
ghost_actor = "0.3.0-alpha.6"
hc_sleuth = { version = "^0.2.0-beta-dev.8", path = "../hc_sleuth" }
holo_hash = { version = "^0.3.0-beta-dev.23", path = "../holo_hash" }
holochain_keystore = { version = "^0.3.0-beta-dev.30", path = "../holochain_keystore" }
holochain_serialized_bytes = { workspace = true }
holochain_types = { version = "^0.3.0-beta-dev.35", path = "../holochain_types" }
holochain_zome_types = { version = "^0.3.0-beta-dev.29", path = "../holochain_zome_types" }
kitsune_p2p = { version = "^0.3.0-beta-dev.32", path = "../kitsune_p2p/kitsune_p2p" }
kitsune_p2p_types = { version = "^0.3.0-beta-dev.22", path = "../kitsune_p2p/types" }
holochain_nonce = {version = "^0.3.0-beta-dev.25", path = "../holochain_nonce"}
mockall = "0.11.3"
holochain_trace = { version = "^0.3.0-beta-dev.7", path = "../holochain_trace" }
rand = "0.8.5"
serde = { version = "1.0", features = ["derive"] }
serde_bytes = "0.11"
serde_json = { version = "1.0.51", features = [ "preserve_order" ] }
thiserror = "1.0.22"
tokio = { version = "1.27", features = [ "full" ] }
tokio-stream = "0.1"
holochain_util = { version = "^0.3.0-beta-dev.5", path = "../holochain_util" }

[dev-dependencies]
holochain_p2p = { path = ".", features = ["test_utils"] }

[lints]
workspace = true

[features]

test_utils = [
  "holochain_zome_types/test_utils",
  "holochain_zome_types/fixturators",
  "holochain_types/test_utils",
  "kitsune_p2p/test_utils",
  "ghost_actor/test_utils",
]

mock_network = [
  "test_utils",
  "kitsune_p2p/mock_network",
]

sqlite-encrypted = [
  "holo_hash/sqlite-encrypted",
  "holochain_keystore/sqlite-encrypted",
  "kitsune_p2p/sqlite-encrypted",
  "kitsune_p2p_types/sqlite-encrypted",
]
sqlite = [
  "holo_hash/sqlite",
  "holochain_keystore/sqlite",
  "kitsune_p2p/sqlite",
  "kitsune_p2p_types/sqlite",
]
