[package]
name = "holochain_p2p"
version = "0.0.13-dev.0"
description = "holochain specific wrapper around more generic p2p module"
license-file = "LICENSE_CAL-1.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_p2p"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "p2p", "dht", "networking" ]
categories = [ "network-programming" ]
edition = "2018"

[dependencies]
async-trait = "0.1"
fixt = { path = "../fixt", version = "0.0.7"}
futures = "0.3"
ghost_actor = "=0.3.0-alpha.4"
holo_hash = { version = "0.0.11-dev.0", path = "../holo_hash" }
holochain_keystore = { version = "0.0.13-dev.0", path = "../holochain_keystore" }
holochain_serialized_bytes = "=0.0.51"
holochain_types = { version = "0.0.13-dev.0", path = "../holochain_types" }
holochain_zome_types = { version = "0.0.15-dev.0", path = "../holochain_zome_types" }
kitsune_p2p = { version = "0.0.11", path = "../kitsune_p2p/kitsune_p2p" }
kitsune_p2p_types = { version = "0.0.10", path = "../kitsune_p2p/types" }
mockall = "0.10.2"
observability = "0.1.3"
rand = "0.7"
serde = { version = "1.0", features = ["derive"] }
serde_bytes = "0.11"
thiserror = "1.0.22"
tokio = { version = "1.11", features = [ "full" ] }
tokio-stream = "0.1"
holochain_util = { version = "0.0.4", path = "../holochain_util" }

[features]
mock_network = [
  "kitsune_p2p/mock_network",
]
