[package]
name = "holochain_p2p"
version = "0.2.7-rc.1"
description = "holochain specific wrapper around more generic p2p module"
license-file = "LICENSE_CAL-1.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_p2p"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "p2p", "dht", "networking" ]
categories = [ "network-programming" ]
edition = "2021"

[dependencies]
async-trait = "0.1"
derive_more = "0.99"
fixt = { path = "../fixt", version = "^0.2.6"}
futures = "0.3"
ghost_actor = "0.3.0-alpha.6"
holo_hash = { version = "^0.2.6", path = "../holo_hash" }
holochain_keystore = { version = "^0.2.7-rc.0", path = "../holochain_keystore" }
holochain_serialized_bytes = "=0.0.53"
holochain_types = { version = "^0.2.7-rc.1", path = "../holochain_types" }
holochain_zome_types = { version = "^0.2.7-rc.0", path = "../holochain_zome_types" }
kitsune_p2p = { version = "^0.2.6", path = "../kitsune_p2p/kitsune_p2p" }
kitsune_p2p_types = { version = "^0.2.6", path = "../kitsune_p2p/types" }
mockall = "0.11.3"
holochain_trace = { version = "^0.2.6", path = "../holochain_trace" }
rand = "0.8.5"
serde = { version = ">= 1.0, <= 1.0.166", features = ["derive"] }
serde_bytes = "0.11"
serde_json = { version = "1.0.51", features = [ "preserve_order" ] }
thiserror = "1.0.22"
tokio = { version = "1.27", features = [ "full" ] }
tokio-stream = "0.1"
holochain_util = { version = "^0.2.6", path = "../holochain_util" }

[dev-dependencies]
holochain_p2p = { path = ".", features = ["test_utils"] }

[features]
test_utils = [
  "holochain_zome_types/test_utils",
  "holochain_zome_types/fixturators",
  "holochain_types/test_utils",
  "kitsune_p2p/test_utils",
  "ghost_actor/test_utils",
]

mock_network = [
  "test_utils",
  "kitsune_p2p/mock_network",
  "kitsune_p2p/test_utils",
]

sqlite-encrypted = [
  "holo_hash/sqlite-encrypted",
  "holochain_keystore/sqlite-encrypted",
  "kitsune_p2p/sqlite-encrypted",
  "kitsune_p2p_types/sqlite-encrypted",
]
sqlite = [
  "holo_hash/sqlite",
  "holochain_keystore/sqlite",
  "kitsune_p2p/sqlite",
  "kitsune_p2p_types/sqlite",
]
