[package]
name = "holochain_conductor_api"
version = "0.2.5"
description = "Message types for Holochain admin and app interface protocols"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_conductor_api"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
edition = "2021"

[dependencies]
directories = "2.0.2"
derive_more = "0.99.3"
kitsune_p2p = { version = "^0.2.5", path = "../kitsune_p2p/kitsune_p2p" }
holo_hash = { version = "^0.2.5", path = "../holo_hash", features = ["full"] }
holochain_p2p = { version = "^0.2.5", path = "../holochain_p2p" }
holochain_state = { version = "^0.2.5", path = "../holochain_state" }
holochain_serialized_bytes = "=0.0.53"
holochain_types = { version = "^0.2.5", path = "../holochain_types" }
holochain_zome_types = { version = "^0.2.5", path = "../holochain_zome_types" }
serde = { version = ">= 1.0, <= 1.0.166", features = [ "derive" ] }
serde_derive = "1.0"
serde_yaml = "0.9"
structopt = "0.3"
tracing = "0.1.26"
thiserror = "1.0.22"
url2 = "0.0.6"
holochain_keystore = { version = "^0.2.5", path = "../holochain_keystore" }

[dev-dependencies]
matches = {version = "0.1.8"}
holochain_trace = { version = "^0.2.5", path = "../holochain_trace" }

[features]
chc = []
sqlite-encrypted = [
    "holo_hash/sqlite-encrypted",
    "kitsune_p2p/sqlite-encrypted",
    "holochain_p2p/sqlite-encrypted",
    "holochain_state/sqlite-encrypted",
    "holochain_types/sqlite-encrypted",
    "holochain_zome_types/sqlite-encrypted",
    "holochain_keystore/sqlite-encrypted",
]
sqlite = [
    "holo_hash/sqlite",
    "kitsune_p2p/sqlite",
    "holochain_p2p/sqlite",
    "holochain_state/sqlite",
    "holochain_types/sqlite",
    "holochain_zome_types/sqlite",
    "holochain_keystore/sqlite",
]

