[package]
name = "holochain_conductor_api"
version = "0.7.0-dev.6"
description = "Message types for Holochain admin and app interface protocols"
license = "Apache-2.0"
repository = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_conductor_api"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2021"

# reminder - do not use workspace deps
[dependencies]
kitsune2_transport_tx5 = { version = "0.4.0-dev.2", optional = true }
kitsune2_transport_iroh = { version = "0.4.0-dev.2", optional = true }
derive_more = { version = "2.0", features = ["from"] }
holo_hash = { version = "^0.7.0-dev.2", path = "../holo_hash", features = [
  "full",
] }
holochain_state_types = { version = "^0.7.0-dev.3", path = "../holochain_state_types" }
holochain_serialized_bytes = "=0.0.56"
holochain_types = { version = "^0.7.0-dev.6", path = "../holochain_types" }
holochain_zome_types = { version = "^0.7.0-dev.3", path = "../holochain_zome_types" }
holochain_util = { version = "^0.7.0-dev.0", default-features = false, path = "../holochain_util", features = [
  "jsonschema",
] }
kitsune2_api = "0.4.0-dev.2"
kitsune2_core = { version = "0.4.0-dev.2" }
kitsune2_gossip = { version = "0.4.0-dev.2", optional = true }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.9"
tracing = "0.1.26"
thiserror = "2.0"
url2 = "0.0.6"
holochain_keystore = { version = "^0.7.0-dev.3", path = "../holochain_keystore" }
shrinkwraprs = "0.3.0"
indexmap = { version = "2.6.0", features = ["serde"] }
schemars = "0.9"

[dev-dependencies]
holochain_conductor_api = { path = ".", features = ["test-utils"] }

serde_json = "1.0"
rmp-serde = "1.3"
matches = { version = "0.1.8" }
holochain_trace = { version = "^0.7.0-dev.0", path = "../holochain_trace" }
pretty_assertions = "1.4"

[lints]
workspace = true

[features]
chc = []
unstable-migration = []
unstable-sharding = []
unstable-countersigning = []
sqlite-encrypted = [
  "holo_hash/sqlite-encrypted",
  "holochain_types/sqlite-encrypted",
  "holochain_zome_types/sqlite-encrypted",
  "holochain_keystore/sqlite-encrypted",
]
schema = [
  "kitsune2_gossip/schema",
  "kitsune2_core/schema",
  "kitsune2_transport_tx5/schema",
  "kitsune2_transport_iroh/schema",
]
sqlite = [
  "holo_hash/sqlite",
  "holochain_types/sqlite",
  "holochain_zome_types/sqlite",
  "holochain_keystore/sqlite",
]

test-utils = []
