[package]
name = "holochain_conductor_api"
version = "0.5.0-dev.20"
description = "Message types for Holochain admin and app interface protocols"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_conductor_api"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2021"

# reminder - do not use workspace deps
[dependencies]
cfg-if = "1.0"
derive_more = "0.99"
holo_hash = { version = "^0.5.0-dev.7", path = "../holo_hash", features = [
  "full",
] }
holochain_state_types = { version = "^0.5.0-dev.12", path = "../holochain_state_types" }
holochain_serialized_bytes = "=0.0.55"
holochain_types = { version = "^0.5.0-dev.20", path = "../holochain_types" }
holochain_zome_types = { version = "^0.5.0-dev.17", path = "../holochain_zome_types" }
holochain_util = { version = "^0.5.0-dev.1", default-features = false, path = "../holochain_util", features = [
  "jsonschema",
] }
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"
tracing = "0.1.26"
thiserror = "1.0.22"
url2 = "0.0.6"
holochain_keystore = { version = "^0.5.0-dev.19", path = "../holochain_keystore" }
shrinkwraprs = "0.3.0"
indexmap = { version = "2.6.0", features = ["serde"] }
schemars = "0.8.21"

[dev-dependencies]
serde_json = "1.0"
rmp-serde = "1.3"
matches = { version = "0.1.8" }
holochain_trace = { version = "^0.5.0-dev.1", path = "../holochain_trace" }
pretty_assertions = "1.4"


[lints]
workspace = true

[features]
chc = []
unstable-dpki = []
unstable-sharding = []
unstable-countersigning = []
sqlite-encrypted = [
  "holo_hash/sqlite-encrypted",
  "holochain_types/sqlite-encrypted",
  "holochain_zome_types/sqlite-encrypted",
  "holochain_keystore/sqlite-encrypted",
]
sqlite = [
  "holo_hash/sqlite",
  "holochain_types/sqlite",
  "holochain_zome_types/sqlite",
  "holochain_keystore/sqlite",
]
