[package]
name = "holochain_conductor_api"
version = "0.0.16"
description = "Message types for Holochain admin and app interface protocols"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_conductor_api"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
edition = "2018"

[dependencies]
directories = "2.0.2"
derive_more = "0.99.3"
kitsune_p2p_types = { version = "0.0.13", path = "../kitsune_p2p/types" }
holo_hash = { version = "0.0.12", path = "../holo_hash" }
holochain_serialized_bytes = "=0.0.51"
holochain_types = { version = "0.0.16", path = "../holochain_types" }
holochain_zome_types = { version = "0.0.17", path = "../holochain_zome_types" }
serde = { version = "1.0", features = [ "derive" ] }
serde_derive = "1.0"
serde_yaml = "0.8"
tracing = "0.1.26"
thiserror = "1.0.22"
url2 = "0.0.6"

[dev-dependencies]
kitsune_p2p = { version = "0.0.14", path = "../kitsune_p2p/kitsune_p2p" }
serde_json = "1.0.68"
matches = {version = "0.1.8"}
observability = "0.1.3"
