[package]
name = "test_wasm_crd"
version = "0.0.1"
authors = [ "thedavidmeister", "thedavidmeister@gmail.com" ]
edition = "2018"

[lib]
name = "test_wasm_crd"
crate-type = [ "cdylib", "rlib" ]

[dependencies]
serde = "1.0"
holochain_test_wasm_common = { version = "=0.0.1", path = "../../../wasm_common" }
hdk = { path = "../../../../hdk", features = ["mock"] }
