[package]
name = "test_wasm_crd"
version = "0.0.1"
authors = [ "thedavidmeister", "thedavidmeister@gmail.com" ]
edition = "2021"

[lib]
name = "test_wasm_crd"
crate-type = [ "cdylib", "rlib" ]

[[example]]
name = "integrity_test_wasm_crd"
path = "src/integrity.rs"
crate-type = ["cdylib", "rlib"]

[dependencies]
serde = "1.0"
holochain_test_wasm_common = { path = "../../../wasm_common" }
hdk = { path = "../../../../hdk", optional = true }
holochain_deterministic_integrity = { path = "../../../../holochain_deterministic_integrity" }

[features]
default = ["hdk"]
integrity = []
mock = ["hdk/mock"]

[dev-dependencies]
fixt = { path = "../../../../fixt" }
hdk = { path = "../../../../hdk", features = ["fixturators"] }
