[package]
name = "kitsune_p2p_transport_quic"
version = "0.0.1"
description = "QUIC transport module for kitsune-p2p"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://github.com/holochain/holochain"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "p2p", "dht", "networking" ]
categories = [ "network-programming" ]
edition = "2018"

[dependencies]
futures = "0.3"
if-addrs = "0.6"
kitsune_p2p_types = { version = "0.0.1", path = "../types" }
lair_keystore_api = "=0.0.1-alpha.10"
nanoid = "0.3"
once_cell = "1.5.2"
quinn = "0.6.1"
rcgen = "=0.8.5"
rustls = { version = "0.17", features = [ "dangerous_configuration" ] }
serde = { version = "1.0.104", features = [ "derive" ] }
tokio = { version = "0.2", features = [ "full" ] }
webpki = "0.21.2"

[dev-dependencies]
anyhow = "1.0.22"
crc = "1.8.1"
criterion = "0.3.4"

[[bench]]
name = "bench"
harness = false