[package]
name = "kitsune_p2p_transport_quic"
version = "0.0.5"
description = "QUIC transport module for kitsune-p2p"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/kitsune_p2p_transport_quic"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "p2p", "dht", "networking" ]
categories = [ "network-programming" ]
edition = "2018"

[dependencies]
blake2b_simd = "0.5.10"
futures = "0.3"
if-addrs = "0.6"
kitsune_p2p_types = { version = "0.0.5", path = "../types" }
lair_keystore_api = "=0.0.4"
nanoid = "0.3"
once_cell = "1.5.2"
quinn = "0.7"
rcgen = "=0.8.11"
rustls = { version = "0.19", features = [ "dangerous_configuration" ] }
serde = { version = "1.0", features = [ "derive" ] }
tokio = { version = "1.11", features = [ "full" ] }
webpki = "0.21.2"
