[package]
name = "kitsune_p2p_transport_quic"
version = "0.0.22"
description = "QUIC transport module for kitsune-p2p"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/kitsune_p2p_transport_quic"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "p2p", "dht", "networking" ]
categories = [ "network-programming" ]
edition = "2021"

[dependencies]
blake2b_simd = "1.0.0"
futures = "0.3.21"
if-addrs = "0.7.0"
kitsune_p2p_types = { version = "0.0.22", path = "../types" }
nanoid = "0.4.0"
once_cell = "1.9.0"
quinn = "0.8.1"
rcgen = "0.9.2"
rustls = { version = "0.20.4", features = [ "dangerous_configuration" ] }
serde = { version = "1.0", features = [ "derive" ] }
tokio = { version = "1.17.0", features = [ "full" ] }
webpki = "0.22.0"
