[package]
name = "influxive"
version = "0.0.6-dev.0"
description = "High-level Rust integration of opentelemetry metrics and InfluxDB"
documentation = "https://docs.rs/influxive"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/holochain/holochain"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
keywords = ["metrics"]
categories = ["development-tools"]

[dependencies]
influxive-child-svc = { version = "0.0.6-dev.0", path = "../influxive-child-svc" }
influxive-otel = { version = "0.0.6-dev.0", path = "../influxive-otel" }
influxive-writer = { version = "0.0.6-dev.0", path = "../influxive-writer" }

[dev-dependencies]
opentelemetry_api = { version = "0.20.0", features = ["metrics"] }
tempfile = "3"
tokio = { version = "1", features = ["full"] }
