[package]
name = "influxive"
version = "0.0.6-dev.0"
description = "High-level Rust integration of opentelemetry metrics and InfluxDB"
documentation = "https://docs.rs/influxive"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/holochain/holochain"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
keywords = ["metrics"]
categories = ["development-tools"]

[dependencies]
influxdb = "0.8"
opentelemetry_api = { version = "0.20.0", features = ["metrics"] }
tempfile = "3"
tokio = { version = "1", features = ["process"] }
tracing = "0.1"

# downloader dependencies
digest = { version = "0.10", optional = true }
dirs = { version = "6", optional = true }
flate2 = { version = "1", optional = true }
futures = { version = "0.3", optional = true }
hex = { version = "0.4", optional = true }
hex-literal = { version = "1.1", optional = true }
reqwest = { version = "0.12", features = [
  "rustls-tls",
  "stream",
], optional = true }
sha2 = { version = "0.10", optional = true }
tar = { version = "0.4", optional = true }
zip = { version = "3.0", optional = true }

[dev-dependencies]
tokio = { version = "1", features = ["full"] }

[features]
default = ["download_binaries"]

# compiles in the ability to download release influxd and influx binaries
# as a fallback in case they are not found on the path
download_binaries = [
  "dep:digest",
  "dep:dirs",
  "dep:flate2",
  "dep:futures",
  "dep:hex",
  "dep:hex-literal",
  "dep:reqwest",
  "dep:sha2",
  "dep:tar",
  "dep:zip",
]
