[package]
name = "holochain_cli_signal_srv"
version = "0.2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_cli_signal_srv"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
keywords = ["holochain", "holo"]
categories = ["command-line-utilities", "development-tools::build-utils", "filesystem"]
edition = "2021"
license = "Apache-2.0"
description = "Run a holochain webrtc signal server."

[[bin]]
name = "hc-signal-srv"
path = "src/bin/hc-signal-srv.rs"

[dependencies]
holochain_trace = { version = "^0.2.0", path = "../holochain_trace" }
tokio = { version = "1.27", features = ["full"] }
tracing = "0.1"
tx5-signal-srv = "=0.0.1-alpha.8"
structopt = "0.3"
