[package]
name = "holochain_cli_run_local_services"
version = "0.3.0-beta-dev.25"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_cli_run_local_services"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
keywords = ["holochain", "holo"]
categories = ["command-line-utilities", "development-tools::build-utils", "filesystem"]
edition = "2021"
license = "Apache-2.0"
description = "Run a holochain webrtc signal server and bootstrap server."

[[bin]]
name = "hc-run-local-services"
path = "src/bin/hc-run-local-services.rs"

# reminder - do not use workspace deps
[dependencies]
clap = { version = "4.0", features = [ "derive" ] }
futures = "0.3"
holochain_trace = { version = "^0.3.0-beta-dev.9", path = "../holochain_trace" }
if-addrs = "0.10.1"
kitsune_p2p_bootstrap = { version = "^0.2.0-beta-dev.24", path = "../kitsune_p2p/bootstrap" }
tokio = { version = "1.36.0", features = ["full"] }
tracing = "0.1"
tx5-signal-srv = "=0.0.8-alpha"

[lints]
workspace = true
