[package]
name = "holochain_2020"
version = "0.0.1"
description = "Holochain, a framework for distributed applications"
license = "GPL-3.0-only"
homepage = "https://github.com/Holo-host/holochain-2020"
documentation = "https://github.com/Holo-host/holochain-2020"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2018"

[dependencies]
async-trait = "0.1.24"
crossbeam-channel = "0.4.0"
hcid = "0.0.6"
futures = "0.3.1"
holochain_crypto = { version = "0.0.1", path = "../crypto" }
holochain_keystore = { version = "0.0.1", path = "../keystore" }
holochain_state = { path = "../state" }
holochain_types = { path = "../types" }
holochain_websocket = { path = "../websocket" }
holochain_zome_types = { path = "../zome_types" }
serde = { version = "1.0.104", features = ["derive"] }
serde_json = { version = "1.0.51", features = ["preserve_order"] }
shrinkwraprs = "0.3.0"
structopt = "0.3.11"
holochain_common = "0.0.43-alpha3"
fallible-iterator = "0.2.0"
thiserror = "1.0.10"
lazy_static = "1.4.0"
chrono = "0.4.6"
tempdir = "0.3.7"
mockall = "0.6.0"
tokio = { version = "0.2.11", features = ["full"] }
tokio_safe_block_on = "0.1.1"
owning_ref = "0.4.1"
anyhow = "1.0.26"
parking_lot = "0.10.0"
toml = "0.5.6"
petgraph = "0.5.0"
boolinator = "2.4.0"
base64 = "0.10.1"
tracing = "=0.1.13"
tracing-futures = "0.2.3"
holochain_wasmer_host = "=0.0.24"
holochain_serialized_bytes = "=0.0.38"
url = "1.7.2"
url2 = "0.0.5"
url_serde = "0.2.0"
derive_more = "0.99.3"
directories = "2.0.2"
human-panic = "1.0.3"
num_cpus = "1.8"
holo_hash = { path = "../holo_hash" }
uuid = { version = "0.7", features = ["serde", "v4"] }
predicates = "1.0.4"
must_future = "0.1.1"

[dev-dependencies]
anyhow = "1.0.26"
assert_cmd = "1.0.1"
holochain_wasm_test_utils = { path = "../test_utils/wasm" }
test_wasm_common = { path = "../test_utils/wasm_common" }
maplit = "1.0.2"
matches = "0.1.8"

[lib]
name = "holochain_2020"
path = "src/lib.rs"

[[bin]]
name = "holochain-2020"
path = "src/bin/holochain/main.rs"
