[package]
name = "holochain_2020"
version = "0.0.1"
description = "Holochain, a framework for distributed applications"
license = "GPL-3.0-only"
homepage = "https://github.com/Holo-host/holochain-2020"
documentation = "https://github.com/Holo-host/holochain-2020"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2018"

[dependencies]
async-trait = "0.1.24"
crossbeam-channel = "0.4.0"
hcid = "0.0.6"
futures = "0.3.1"
sx_state = { path = "../state" }
sx_types = { path = "../types" }
serde = { version = "1.0.104", features = ["derive"] }
serde_json = "1.0.48"
shrinkwraprs = "0.3.0"
structopt = "=0.3.11"
holochain_common = "0.0.43-alpha3"
holochain_json_api = { version = "0.0.36", git = "https://github.com/holochain/holochain-serialization.git", branch = "unpinned" }
holochain_json_derive = { version = "0.0.36", git = "https://github.com/holochain/holochain-serialization.git", branch = "unpinned" }
fallible-iterator = "0.2.0"
thiserror = "1.0.10"
lazy_static = "1.4.0"
chrono = "0.4.6"
tempdir = "0.3.7"
mockall = "0.6.0"
tokio = { version = "0.2.11", features = ["full"] }
owning_ref = "0.4.1"
anyhow = "1.0.26"
parking_lot = "0.10.0"
toml = "0.5.6"
petgraph = "0.5.0"
boolinator = "2.4.0"
base64 = "0.10.1"
tracing = "=0.1.13"
url = "1.7.2"
url_serde = "0.2.0"
derive_more = "0.99.3"
directories = "2.0.2"
human-panic = "1.0.3"
num_cpus = "1.8"

[dev-dependencies]
anyhow = "1.0.26"
assert_cli = "0.6.3"

[lib]
name = "holochain_2020"
path = "src/lib.rs"

[[bin]]
name = "holochain-2020"
path = "src/bin/holochain/main.rs"
