[package]
name = "holochain"
version = "0.4.0-dev.21"
description = "Holochain, a framework for distributed applications"
license = "CAL-1.0"
repository = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2021"

# reminder - do not use workspace deps
[dependencies]
anyhow = "1.0"
async-trait = "0.1"
base64 = "0.22"
cfg-if = "1.0"
chrono = { version = "0.4.22", default-features = false, features = [
  "clock",
  "std",
  "oldtime",
  "serde",
] }
derive_more = "0.99"
either = "1.5.0"
fallible-iterator = "0.3.0"
fixt = { version = "^0.4.0-dev.3", path = "../fixt" }
futures = "0.3"
getrandom = "0.2.7"
get_if_addrs = "0.5.3"
ghost_actor = "0.3.0-alpha.6"
hc_deepkey_sdk = { version = "^0.7.0-dev.4", path = "../hc_deepkey_sdk" }
holo_hash = { version = "^0.4.0-dev.11", path = "../holo_hash", features = [
  "full",
] }
holochain_cascade = { version = "^0.4.0-dev.21", path = "../holochain_cascade" }
holochain_chc = { version = "^0.1.0-dev.1", path = "../holochain_chc", default-features = false }
holochain_conductor_api = { version = "^0.4.0-dev.21", path = "../holochain_conductor_api" }
holochain_deepkey_dna = "0.0.8-dev.1"
holochain_keystore = { version = "^0.4.0-dev.19", path = "../holochain_keystore", default-features = false }
holochain_p2p = { version = "^0.4.0-dev.21", path = "../holochain_p2p" }
holochain_sqlite = { version = "^0.4.0-dev.19", path = "../holochain_sqlite" }
holochain_serialized_bytes = "=0.0.55"
holochain_state = { version = "^0.4.0-dev.21", path = "../holochain_state" }
holochain_types = { version = "^0.4.0-dev.21", path = "../holochain_types" }
holochain_util = { version = "^0.4.0-dev.4", path = "../holochain_util" }
holochain_wasmer_host = { version = "=0.0.96", default-features = false, features = [
  "error_as_host",
] }
holochain_websocket = { version = "^0.4.0-dev.21", path = "../holochain_websocket" }
holochain_zome_types = { version = "^0.4.0-dev.15", path = "../holochain_zome_types", features = [
  "full",
] }
holochain_nonce = { version = "^0.4.0-dev.6", path = "../holochain_nonce" }
holochain_secure_primitive = { version = "^0.4.0-dev.1", path = "../holochain_secure_primitive" }
holochain_conductor_services = { version = "^0.3.0-dev.21", path = "../holochain_conductor_services" }
human-panic = "2.0"
itertools = { version = "0.12" }
kitsune_p2p = { version = "^0.4.0-dev.19", path = "../kitsune_p2p/kitsune_p2p", default-features = false }
kitsune_p2p_bin_data = { version = "^0.4.0-dev.11", path = "../kitsune_p2p/bin_data" }
kitsune_p2p_types = { version = "^0.4.0-dev.12", path = "../kitsune_p2p/types" }
kitsune_p2p_block = { version = "^0.4.0-dev.11", path = "../kitsune_p2p/block" }
mockall = "0.11.3"
mr_bundle = { version = "^0.4.0-dev.7", path = "../mr_bundle" }
must_future = "0.1.1"
nanoid = "0.4"
holochain_trace = { version = "^0.4.0-dev.5", path = "../holochain_trace" }
holochain_metrics = { version = "^0.4.0-dev.4", path = "../holochain_metrics", default_features = false }
once_cell = "1.4.1"
async-once-cell = "0.5"
one_err = "0.0.8"
parking_lot = "0.12"
predicates = "3.1"
rand = "0.8.5"
rand_chacha = "0.3.1"
rand-utf8 = "0.0.1"
rusqlite = { version = "0.32.1" }
serde = { version = "1.0", features = ["derive"] }
serde_bytes = "0.11.12"
serde_json = { version = "1.0.51", features = ["preserve_order"] }
serde_yaml = "0.9"
shrinkwraprs = "0.3.0"
sodoken = "=0.0.11"
structopt = "0.3.11"
strum = "0.18.0"
subtle-encoding = "0.5"
tempfile = "3.3"
thiserror = "1.0.22"
tokio = { version = "1.36.0", features = ["full"] }
tokio-stream = { version = "0.1", features = ["sync", "net"] }
task-motel = "0.1.0"
tracing = "0.1"
tracing-futures = "0.2.5"
tracing-subscriber = "0.3.16"
url = "2.4"
url2 = "0.0.6"
uuid = { version = "1.8", features = ["serde", "v4"] }
holochain_wasm_test_utils = { version = "^0.4.0-dev.21", path = "../test_utils/wasm" }
tiny-keccak = { version = "2.0.2", features = ["keccak", "sha3"] }
opentelemetry_api = { version = "=0.20.0", features = ["metrics"] }

# Temporarily include a fork of wasmer from the git branch 'wamr', until it is officially released in wasmer v5
hc-wasmer = { version = "=4.3.6-hc.1", optional = true, default-features = false }
wasmer = { version = "=4.3.6", optional = true, default-feature = false }
wasmer-middlewares = { version = "=4.3.6", optional = true, default-feature = false }

# Dependencies for test_utils / other optional deps
arbitrary = { version = "1.0", features = ["derive"], optional = true }
contrafact = { version = "0.2.0-rc.1", optional = true }
diff = { version = "0.1", optional = true }
hdk = { version = "^0.4.0-dev.15", path = "../hdk", optional = true }
matches = { version = "0.1.8", optional = true }
holochain_test_wasm_common = { version = "^0.4.0-dev.15", path = "../test_utils/wasm_common", optional = true }
kitsune_p2p_bootstrap = { version = "^0.3.0-dev.13", path = "../kitsune_p2p/bootstrap", optional = true }
unwrap_to = { version = "0.1.0", optional = true }
sbd-server = { version = "=0.0.6-alpha", optional = true }
tx5-go-pion-turn = { version = "=0.1.3-beta", optional = true }

# chc deps
bytes = { version = "1", optional = true }
reqwest = { version = "0.12", features = [
  "json",
  "native-tls-vendored",
], optional = true }

# TODO: make optional?
aitia = { version = "^0.3.0-dev.5", path = "../aitia" }
hc_sleuth = { version = "^0.4.0-dev.21", path = "../hc_sleuth" }

# fact deps
petgraph = { version = "0.6.0", features = ["quickcheck", "stable_graph"] }

# debugging
backtrace = "0.3"

[target.'cfg(unix)'.dependencies]
sd-notify = "0.4"


[dev-dependencies]
holochain = { path = ".", default-features = false, features = [
  "test_utils",
  "slow_tests",
  "tx2",
  "tx5",
  "metrics_influxive",
  "deepkey-wasm-cache",
] }

anyhow = "1.0"
assert_cmd = "2"
clap = "4.0"
contrafact = "0.2.0-rc.1"
criterion = { version = "0.5", features = ["async_tokio"] }
ed25519-dalek = { version = "2", features = ["rand_core"] }
indoc = "2.0"
isotest = "0"
maplit = "1"
pretty_assertions = "1.4"
regex = "1.5"
reqwest = "0.12"
serial_test = "3.0"
test-case = "3.3"
tokio-tungstenite = "0.21"
tx5 = "0.1.3-beta"

[build-dependencies]
hdk = { version = "^0.4.0-dev.15", path = "../hdk" }
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0.51" }
toml = "0.8"
chrono = { version = "0.4.6", features = ["serde"] }
hostname = "0.4"
lair_keystore = { version = "0.5.0", default-features = false, features = [
  "rusqlite-bundled-sqlcipher-vendored-openssl",
] }

[[bench]]
name = "bench"
harness = false

[[bench]]
name = "consistency"
harness = false

[lib]
name = "holochain"
path = "src/lib.rs"

[[bin]]
name = "holochain"
path = "src/bin/holochain/main.rs"

[lints]
workspace = true

[features]
default = [
  "chc",
  "sqlite-encrypted",
  "tx2",
  "tx5",
  "metrics_influxive",
  "wasmer_sys",
]

tx2 = ["kitsune_p2p/tx2"]
tx5 = ["kitsune_p2p/tx5", "tx5-go-pion-turn"]

# Use the "Influxive" opentelemetry metrics binding to write metrics
# to an InfluxDB time series database.
metrics_influxive = ["holochain_metrics/influxive"]

# Exposes additional functionality only needed for integration tests.
# This feature should be turned off for production builds.
test_utils = [
  "contrafact",
  "deepkey-wasm-cache",
  "diff",
  "ghost_actor/test_utils",
  "hdk/test_utils",
  "holochain_sqlite/test_utils",
  "holochain_state/test_utils",
  "holochain_types/test_utils",
  "holochain_zome_types/test_utils",
  "kitsune_p2p_types/test_utils",
  "holochain_cascade/test_utils",
  "holochain_conductor_services/test_utils",
  "kitsune_p2p/test_utils",
  "kitsune_p2p_bootstrap",
  "holochain_p2p/mock_network",
  "kitsune_p2p_bin_data/fixt",
  "kitsune_p2p_types/fixt",
  "arbitrary",
  "matches",
  "holochain_test_wasm_common",
  "unwrap_to",
  "contrafact",
  "sbd-server",
]

# Wasm ribosome tests take > 60 seconds - let's only run them in CI
slow_tests = []

# What's slower than slow? We may choose to not run these tests in CI to speed things up.
glacial_tests = []

# Includes the wasm build script, which we don't need when not building wasms
build_wasms = ['holochain_wasm_test_utils/build']
only_check_wasms = ['holochain_wasm_test_utils/only_check']

# Enables at-rest encryption of the SQLite database.
# Incompatible with "sqlite".
sqlite-encrypted = [
  "rusqlite/bundled-sqlcipher-vendored-openssl",
  "holochain_keystore/sqlite-encrypted",
  "holo_hash/sqlite-encrypted",
  "holochain_cascade/sqlite-encrypted",
  "holochain_conductor_api/sqlite-encrypted",
  "holochain_keystore/sqlite-encrypted",
  "holochain_p2p/sqlite-encrypted",
  "holochain_sqlite/sqlite-encrypted",
  "holochain_state/sqlite-encrypted",
  "holochain_types/sqlite-encrypted",
  "holochain_zome_types/sqlite-encrypted",
  "kitsune_p2p/sqlite-encrypted",
  "kitsune_p2p_types/sqlite-encrypted",
  "kitsune_p2p_block/sqlite-encrypted",
  "kitsune_p2p_bootstrap/sqlite-encrypted",
]

# Compile SQLite from source rather than depending on a library.
# Incompatible with "sqlite-encrypted"
sqlite = [
  "rusqlite/bundled",
  "holochain_keystore/sqlite",
  "holo_hash/sqlite",
  "holochain_cascade/sqlite",
  "holochain_conductor_api/sqlite",
  "holochain_keystore/sqlite",
  "holochain_p2p/sqlite",
  "holochain_sqlite/sqlite",
  "holochain_state/sqlite",
  "holochain_types/sqlite",
  "holochain_zome_types/sqlite",
  "kitsune_p2p/sqlite",
  "kitsune_p2p_types/sqlite",
  "kitsune_p2p_block/sqlite",
  "kitsune_p2p_bootstrap/sqlite",
]

# Extremely verbose wasm memory read/write logging
wasmer_debug_memory = ["holochain_wasmer_host/debug_memory"]

# Enable wasm compiler
# Incompatible with "wasmer_wamr"
wasmer_sys = [
  "dep:wasmer",
  "dep:wasmer-middlewares",
  "wasmer/default",
  "holochain_wasmer_host/wasmer_sys",
]

# Enable wasm interpreter
# Incompatible with "wasmer_sys"
wasmer_wamr = [
  "dep:hc-wasmer",
  "hc-wasmer/wamr",
  "holochain_wasmer_host/wasmer_wamr",
]

# Enable chain head coordination
chc = ["bytes", "reqwest", "holochain_conductor_api/chc", "holochain_chc/http"]

# Transitional feature flag for code that is only ready when DPKI integration lands.
dpki = []

sweettest = ["test_utils", "sqlite"]

deepkey-wasm-cache = []

# Enables tracing instrumentation 
# (we experience segfaults in some tests if there is too much instrumentation)
instrument = []
