[package]
name = "test_wasm_zome_info"
version = "0.0.1"
authors = [ "thedavidmeister", "thedavidmeister@gmail.com" ]
edition = "2021"

[lib]
name = "test_wasm_zome_info"
crate-type = [ "cdylib", "rlib" ]

[[example]]
name = "integrity_test_wasm_zome_info"
path = "src/integrity.rs"
crate-type = ["cdylib", "rlib"]

[dependencies]
hdk = { path = "../../../../hdk", features = ["properties"] }
serde = "1.0"
serde_yaml = "0.9"
hdi = { path = "../../../../hdi" }

[dev-dependencies]
hdk = { path = "../../../../hdk", features = ["fixturators", "properties"] }
fixt = { path = "../../../../fixt" }

[features]
default = []
mock = ["hdk/mock"]
