[package]
name = "kitsune_p2p_bin_data"
version = "0.3.0-beta-dev.19"
description = "Binary data types for kitsune_p2p"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/kitsune_p2p_bin_data"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "p2p", "dht", "networking" ]
categories = [ "network-programming" ]
edition = "2021"

# reminder - do not use workspace deps
[dependencies]
holochain_util = { version = "^0.3.0-beta-dev.6", path = "../../holochain_util", default-features = false }
kitsune_p2p_dht_arc = { version = "^0.3.0-beta-dev.18", path = "../dht_arc" }
shrinkwraprs = "0.3.0"
derive_more = "0.99"
serde = { version = "1", features = [ "derive", "rc" ] }
base64 = "0.13"
serde_bytes = "0.11"

arbitrary = { version = "1.0", features = ["derive"], optional = true}
proptest = { version = "1", optional = true }
proptest-derive = { version = "0", optional = true }
fixt = { version = "^0.3.0-beta-dev.3", path = "../../fixt", optional = true }

[lints]
workspace = true

[features]

fuzzing = [
  "arbitrary",
  "proptest",
  "proptest-derive",
  "kitsune_p2p_dht_arc/fuzzing",
]

test_utils = []

fixt = [
  "dep:fixt",
]

sqlite-encrypted = [
  "kitsune_p2p_dht_arc/sqlite-encrypted"
]
sqlite = [
  "kitsune_p2p_dht_arc/sqlite"
]
