[package]
name = "holochain_cascade"
version = "0.0.35-dev.0"
description = "Logic for cascading updates to Holochain state and network interaction"
license-file = "LICENSE_CAL-1.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_cascade"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
edition = "2021"

[dependencies]
derive_more = "0.99.3"
either = "1.5"
fallible-iterator = "0.2"
fixt = { version = "0.0.10", path = "../fixt" }
futures = "0.3"
ghost_actor = "=0.3.0-alpha.4"
hdk = { version = "0.0.129-dev.0", path = "../hdk" }
hdk_derive = { version = "0.0.30", path = "../hdk_derive" }
holo_hash = { version = "0.0.23", path = "../holo_hash", features = ["full"] }
holochain_sqlite = { version = "0.0.34", path = "../holochain_sqlite" }
holochain_p2p = { version = "0.0.34", path = "../holochain_p2p" }
holochain_serialized_bytes = "=0.0.51"
holochain_state = { version = "0.0.35-dev.0", path = "../holochain_state" }
holochain_types = { version = "0.0.34", path = "../holochain_types" }
holochain_zome_types = { version = "0.0.30", path = "../holochain_zome_types" }
observability = "0.1.3"
kitsune_p2p = { version = "0.0.30", path = "../kitsune_p2p/kitsune_p2p" }
serde = { version = "1.0", features = [ "derive" ] }
serde_derive = "1.0"
tokio = { version = "1.11", features = [ "full" ] }
thiserror = "1.0"
tracing = "0.1"
tracing-futures = "0.2"

async-trait = { version = "0.1", optional = true }
mockall = { version = "0.10.2", optional = true }

[dev-dependencies]
matches = "0.1"
pretty_assertions = "0.7.2"

[features]
default = ["test_utils"]

test_utils = [
    "async-trait",
    "mockall"
]
