[package]
name = "holochain_cascade"
version = "0.3.0-beta-dev.37"
description = "Logic for cascading updates to Holochain state and network interaction"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_cascade"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2021"

[dependencies]
derive_more = { workspace = true }
either = "1.5"
fallible-iterator = "0.2"
fixt = { version = "^0.3.0-beta-dev.1", path = "../fixt" }
futures = "0.3"
ghost_actor = "0.3.0-alpha.6"
hdk = { version = "^0.3.0-beta-dev.32", path = "../hdk" }
hdk_derive = { version = "^0.3.0-beta-dev.26", path = "../hdk_derive" }
holo_hash = { version = "^0.3.0-beta-dev.22", path = "../holo_hash", features = ["full"] }
holochain_sqlite = { version = "^0.3.0-beta-dev.34", path = "../holochain_sqlite" }
holochain_p2p = { version = "^0.3.0-beta-dev.36", path = "../holochain_p2p" }
holochain_serialized_bytes = { workspace = true }
holochain_state = { version = "^0.3.0-beta-dev.36", path = "../holochain_state" }
holochain_types = { version = "^0.3.0-beta-dev.34", path = "../holochain_types" }
holochain_trace = { version = "^0.3.0-beta-dev.6", path = "../holochain_trace" }
holochain_util = { version = "^0.3.0-beta-dev.4", path = "../holochain_util" }
holochain_zome_types = { version = "^0.3.0-beta-dev.28", path = "../holochain_zome_types" }
holochain_nonce = {version = "^0.3.0-beta-dev.24", path = "../holochain_nonce"}
kitsune_p2p = { version = "^0.3.0-beta-dev.31", path = "../kitsune_p2p/kitsune_p2p" }
serde = { version = "1.0", features = ["derive"] }
serde_derive = "1.0"
tokio = { workspace = true }
thiserror = "1.0"
tracing = { workspace = true }
tracing-futures = "0.2"
opentelemetry_api = { version = "=0.20.0", features = [ "metrics" ] }
once_cell = "1"

async-trait = { version = "0.1" }
mockall = { version = "0.11.3", optional = true }

[dev-dependencies]
holochain_cascade = { path = ".", features = ["test_utils"] }

isotest = "0"
matches = "0.1"
pretty_assertions = "1.4"
test-case = "2.1"

[lints]
workspace = true

[features]
default = []

test_utils = [
    "mockall",
    "holochain_types/test_utils",
    "holochain_p2p/test_utils",
    "holochain_state/test_utils"
]

sqlite-encrypted = [
    "holo_hash/sqlite-encrypted",
    "holochain_sqlite/sqlite-encrypted",
    "holochain_state/sqlite-encrypted",
    "holochain_types/sqlite-encrypted",
    "holochain_zome_types/sqlite-encrypted",
    "kitsune_p2p/sqlite-encrypted",
]
sqlite = [
    "holo_hash/sqlite",
    "holochain_sqlite/sqlite",
    "holochain_state/sqlite",
    "holochain_types/sqlite",
    "holochain_zome_types/sqlite",
    "kitsune_p2p/sqlite",
]
