[package]
name = "holochain_cascade"
version = "0.2.0-beta-rc.5"
description = "Logic for cascading updates to Holochain state and network interaction"
license-file = "LICENSE_CAL-1.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_cascade"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2021"

[dependencies]
derive_more = "0.99.3"
either = "1.5"
fallible-iterator = "0.2"
fixt = { version = "^0.2.0-beta-rc.0", path = "../fixt" }
futures = "0.3"
ghost_actor = "0.3.0-alpha.5"
hdk = { version = "^0.2.0-beta-rc.4", path = "../hdk" }
hdk_derive = { version = "^0.2.0-beta-rc.3", path = "../hdk_derive" }
holo_hash = { version = "^0.2.0-beta-rc.3", path = "../holo_hash", features = ["full"] }
holochain_sqlite = { version = "^0.2.0-beta-rc.4", path = "../holochain_sqlite" }
holochain_p2p = { version = "^0.2.0-beta-rc.5", path = "../holochain_p2p" }
holochain_serialized_bytes = "=0.0.51"
holochain_state = { version = "^0.2.0-beta-rc.5", path = "../holochain_state" }
holochain_types = { version = "^0.2.0-beta-rc.5", path = "../holochain_types" }
holochain_trace = { version = "^0.2.0-beta-rc.1", path = "../holochain_trace" }
holochain_zome_types = { version = "^0.2.0-beta-rc.4", path = "../holochain_zome_types" }
kitsune_p2p = { version = "^0.2.0-beta-rc.4", path = "../kitsune_p2p/kitsune_p2p" }
serde = { version = "1.0", features = [ "derive" ] }
serde_derive = "1.0"
tokio = { version = "1.11", features = ["full"] }
thiserror = "1.0"
tracing = "0.1"
tracing-futures = "0.2"

async-trait = { version = "0.1", optional = true }
mockall = { version = "0.11.3", optional = true }

[dev-dependencies]
isotest = "0"
matches = "0.1"
pretty_assertions = "0.7.2"
test-case = "2.1"

[features]
default = ["test_utils"]

test_utils = ["async-trait", "mockall", "holochain_types/test_utils"]

db-encryption = [
    "holo_hash/db-encryption",
    "holochain_sqlite/db-encryption",
    "holochain_state/db-encryption",
    "holochain_types/db-encryption",
    "holochain_zome_types/db-encryption",
    "kitsune_p2p/db-encryption",
]
no-deps = [
    "holo_hash/no-deps",
    "holochain_sqlite/no-deps",
    "holochain_state/no-deps",
    "holochain_types/no-deps",
    "holochain_zome_types/no-deps",
    "kitsune_p2p/no-deps",
]
