[package]
name = "holochain_cascade"
version = "0.7.0-dev.0"
description = "Logic for cascading updates to Holochain state and network interaction"
license = "Apache-2.0"
repository = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_cascade"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2021"

# reminder - do not use workspace deps
[dependencies]
fixt = { version = "^0.7.0-dev.0", path = "../fixt" }
futures = "0.3"
holo_hash = { version = "^0.7.0-dev.0", path = "../holo_hash", features = [
  "full",
] }
holochain_chc = { version = "^0.4.0-dev.0", path = "../holochain_chc" }
holochain_sqlite = { version = "^0.7.0-dev.0", path = "../holochain_sqlite" }
holochain_p2p = { version = "^0.7.0-dev.0", default-features = false, path = "../holochain_p2p" }
holochain_serialized_bytes = "=0.0.56"
holochain_state = { version = "^0.7.0-dev.0", path = "../holochain_state" }
holochain_types = { version = "^0.7.0-dev.0", path = "../holochain_types" }
holochain_trace = { version = "^0.7.0-dev.0", path = "../holochain_trace" }
holochain_util = { version = "^0.7.0-dev.0", path = "../holochain_util" }
holochain_zome_types = { version = "^0.7.0-dev.0", path = "../holochain_zome_types" }
parking_lot = "0.12.1"
tokio = { version = "1.36.0", features = ["full"] }
thiserror = "2.0"
tracing = "0.1"
opentelemetry_api = { version = "=0.20.0", features = ["metrics"] }

kitsune2_api = "0.3.0"

async-trait = "0.1"
mockall = { version = "0.13", optional = true }

[dev-dependencies]
holochain_cascade = { path = ".", features = ["test_utils"] }

isotest = "0"
pretty_assertions = "1.4"
test-case = "3.3"

[lints]
workspace = true

[features]
default = ["datachannel-vendored"]

test_utils = [
  "mockall",
  "holochain_chc/test_utils",
  "holochain_p2p/test_utils",
  "holochain_types/test_utils",
  "holochain_state/test_utils",
]

instrument = []

sqlite-encrypted = [
  "holo_hash/sqlite-encrypted",
  "holochain_sqlite/sqlite-encrypted",
  "holochain_state/sqlite-encrypted",
  "holochain_types/sqlite-encrypted",
  "holochain_zome_types/sqlite-encrypted",
]
sqlite = [
  "holo_hash/sqlite",
  "holochain_sqlite/sqlite",
  "holochain_state/sqlite",
  "holochain_types/sqlite",
  "holochain_zome_types/sqlite",
]

backend-libdatachannel = ["holochain_p2p/backend-libdatachannel"]

backend-go-pion = ["holochain_p2p/backend-go-pion"]

datachannel-vendored = [
  "backend-libdatachannel",
  "holochain_p2p/datachannel-vendored",
]
