[package]
name = "test_wasm_random_bytes"
version = "0.0.1"
authors = [ "thedavidmeister", "thedavidmeister@gmail.com" ]
edition = "2021"

[lib]
name = "test_wasm_random_bytes"
crate-type = [ "cdylib", "rlib" ]

[[example]]
name = "integrity_test_wasm_random_bytes"
path = "src/integrity.rs"
crate-type = ["cdylib", "rlib"]

[dependencies]
hdk = { path = "../../../../hdk"}
serde = "1.0"

[dev-dependencies]
hdk = { path = "../../../../hdk", features = ["fixturators"] }
fixt = { path = "../../../../fixt" }

[features]
default = []
mock = ["hdk/mock"]
