[package]
name = "test_wasm_random_bytes"
version = "0.0.1"
authors = [ "thedavidmeister", "thedavidmeister@gmail.com" ]
edition = "2018"

[lib]
name = "test_wasm_random_bytes"
crate-type = [ "cdylib", "rlib" ]

[dependencies]
hdk = { path = "../../../../hdk" }
# hdk = { path = "../../../../hdk", features = ["mock"] }
serde = "1.0"

[dev-dependencies]
fixt = { path = "../../../../fixt" }

[features]
default = []
mock = ["hdk/mock"]