[package]
name = "holochain_keystore"
version = "0.1.0-a-release-test.0"
description = "keystore for libsodium keypairs"
license = "CAL-1.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_keystore"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "nacl", "libsodium", "cryptography" ]
categories = [ "cryptography" ]
edition = "2021"

[features]
default = [ "no-deps" ]

db-encryption = [ "lair_keystore/rusqlite-bundled-sqlcipher-vendored-openssl" ]
no-deps = [ "lair_keystore/rusqlite-bundled" ]

[dependencies]
base64 = "0.13.0"
futures = "0.3.23"
holo_hash = { version = "^0.1.0-a-release-test.0", path = "../holo_hash", features = ["full"] }
holochain_serialized_bytes = "=0.0.51"
holochain_zome_types = { path = "../holochain_zome_types", version = "^0.1.0-a-release-test.0"}
kitsune_p2p_types = { version = "^0.1.0-a-release-test.0", path = "../kitsune_p2p/types" }
lair_keystore = { version = "0.2.1", default-features = false }
must_future = "0.1.2"
nanoid = "0.4.0"
one_err = "0.0.7"
parking_lot = "0.11"
serde = { version = "1.0", features = [ "derive" ] }
serde_bytes = "0.11"
sodoken = "=0.0.6"
thiserror = "1.0.22"
tokio = { version = "1.11", features = [ "full" ] }
tracing = "0.1"

# This is a redundant dependency.
# It's included only to set the proper feature flag for database encryption.
holochain_sqlite = { version = "^0.1.0-a-release-test.0", path = "../holochain_sqlite" }

[dev-dependencies]
assert_cmd = "2.0.4"
serde_yaml = "0.9.10"
tempdir = "0.3.7"
