[package]
name = "holochain_keystore"
version = "0.0.44-dev.0"
description = "keystore for libsodium keypairs"
license = "CAL-1.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_keystore"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "nacl", "libsodium", "cryptography" ]
categories = [ "cryptography" ]
edition = "2021"

[dependencies]
base64 = "0.13.0"
ghost_actor = "=0.3.0-alpha.4"
holo_hash = { version = "0.0.29", path = "../holo_hash", features = ["full"] }
holochain_serialized_bytes = "=0.0.51"
holochain_zome_types = { path = "../holochain_zome_types", version = "0.0.38-dev.0"}
kitsune_p2p_types = { version = "0.0.26-dev.0", path = "../kitsune_p2p/types" }
lair_keystore_client_0_0 = { version = "=0.0.11", package = "lair_keystore_client" }
nanoid = "0.4.0"
one_err = "0.0.5"
serde = { version = "1.0", features = [ "derive" ] }
serde_bytes = "0.11"
sodoken = "=0.0.4"
thiserror = "1.0.22"
tokio = { version = "1.11", features = [ "full" ] }
tracing = "0.1"

# This is a redundant dependency.
# It's included only to set the proper feature flag for database encryption.
holochain_sqlite = { version = "0.0.43-dev.0", path = "../holochain_sqlite" }
