[package]
name = "hdi"
version = "0.1.6-dev.0"
description = "The HDI"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain/tree/develop/crates/hdi"
documentation = "https://docs.rs/hdi"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
keywords = ["holochain", "holo", "integrity"]
categories = ["cryptography"]
edition = "2021"

[features]
default = []
trace = ["tracing", "tracing-core", "holochain_integrity_types/tracing"]
mock = ["hdk_derive/mock", "mockall"]
test_utils = [
    "holochain_integrity_types/test_utils"
]

[dependencies]
hdk_derive = { version = "^0.0.52-dev.0", path = "../hdk_derive" }
holo_hash = { version = "0.0.34", path = "../holo_hash" }
holochain_wasmer_guest = "=0.0.80"
# it's important that we depend on holochain_integrity_types with no default
# features, both here AND in hdk_derive, to reduce code bloat
holochain_integrity_types = { version = "^0.0.22-dev.0", path = "../holochain_integrity_types", default-features = false }
paste = "=1.0.5"
serde = "1.0"
serde_bytes = "0.11"
# thiserror = "1.0.22"
tracing = { version = "0.1", optional = true }
tracing-core = { version = "0.1", optional = true }
mockall = { version = "0.10.2", optional = true }


[dev-dependencies]
fixt = { path = "../fixt" }
test-case = "2.1"
arbitrary = { version = "1.0", features = ["derive"] }
