[package]
name = "holochain_metrics"
version = "0.7.0-dev.0"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2021"
description = "metrics helpers"
license = "Apache-2.0"
documentation = "https://docs.rs/holochain_metrics"
repository = "https://github.com/holochain/holochain"

# reminder - do not use workspace deps
[dependencies]
influxive = { version = "0.0.6-dev.0", path = "../influxive", optional = true }
opentelemetry_api = { version = "0.20.0", features = ["metrics"] }
tracing = "0.1.37"

[dev-dependencies]
tempfile = "3"
tokio = { version = "1", features = ["full"] }


[lints]
workspace = true

[features]
default = ["influxive"]
