[package]
name = "holochain_metrics"
version = "0.3.0-beta-dev.1"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2021"
description = "metrics helpers"
license = "MIT"
documentation = "https://docs.rs/holochain_metrics"
repository = "https://github.com/holochain/holochain"

[dependencies]
influxive = { version = "=0.0.1-alpha.5", optional = true }
opentelemetry_api = { version = "=0.20.0-beta.1", features = [ "metrics" ], package = "ts_opentelemetry_api" }
tracing = "0.1.37"

[features]
default = [ "influxive" ]
