[package]
name = "holochain_metrics"
version = "0.3.0-beta-dev.8"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2021"
description = "metrics helpers"
license = "Apache-2.0"
documentation = "https://docs.rs/holochain_metrics"
repository = "https://github.com/holochain/holochain"

[dependencies]
influxive = { version = "=0.0.2-alpha.1", optional = true }
reqwest = "=0.11.17" # pinned until other libraries upgrade to ring 0.17
sct = "=0.7.0" # pinned until other libraries upgrade to ring 0.17
opentelemetry_api = { version = "=0.20.0", features = [ "metrics" ] }
tracing = "0.1.37"

[features]
default = [ "influxive" ]
