[package]
name = "holochain_metrics"
version = "0.2.7"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2021"
description = "metrics helpers"
license = "MIT"
documentation = "https://docs.rs/holochain_metrics"
repository = "https://github.com/holochain/holochain"

[dependencies]
reqwest = "=0.11.17" # pinned until other libraries upgrade to ring 0.17
influxive = { version = "=0.0.2-alpha.1", optional = true }
opentelemetry_api = { version = "=0.20.0", features = [ "metrics" ] }
tracing = "0.1.37"

[features]
default = [ "influxive" ]
