[package]
name = "holochain_state_types"
version = "0.3.0-beta-dev.20"
description = "Types for the holochain_state crate"
license-file = "LICENSE_CAL-1.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_state_types"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2021"

[dependencies]
serde = { version = ">=1.0, <=1.0.166", features = [ "derive" ] }
holochain_integrity_types = { version = "^0.3.0-beta-dev.13", path = "../holochain_integrity_types", default-features = false }
holo_hash = { version = "^0.3.0-beta-dev.10", path = "../holo_hash" }
