[package]
name = "holochain_state_types"
version = "0.4.0-dev.15"
description = "Types for the holochain_state crate"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_state_types"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2021"

# reminder - do not use workspace deps
[dependencies]
serde = { version = "1.0", features = ["derive"] }
holochain_integrity_types = { version = "^0.4.0-dev.15", path = "../holochain_integrity_types", default-features = false }
holo_hash = { version = "^0.4.0-dev.13", path = "../holo_hash" }

[lints]
workspace = true
