[package]
name = "test_wasm_entry_defs"
version = "0.0.1"
authors = [ "thedavidmeister", "thedavidmeister@gmail.com" ]
edition = "2021"

[lib]
name = "test_wasm_entry_defs"
crate-type = [ "cdylib", "rlib" ]

[dependencies]
serde = "1.0"
hdk = { path = "../../../../hdk" }

[features]
default = []
mock = ["hdk/mock"]
