[profile.default]

# "retries" defines the number of times a test should be retried. If set to a
# non-zero value, tests that succeed on a subsequent attempt will be marked as
# non-flaky. Can be overridden through the `--retries` option.
retries = 2

# this will display all of fail, retry, slow
# see https://nexte.st/book/other-options.html?highlight=failure-output#--status-level-and---final-status-level
status-level = "skip"

# Treat a test that takes longer than this period as slow, and print a message.
# Given a non-zero positive integer, shutdown the tests when the number periods
# have passed.
slow-timeout = { period = "30s", terminate-after = 16 }

# * "immediate-final": output failures as soon as they happen and at the end of
#   the test run
failure-output = "immediate-final"

# Do not cancel the test run on the first failure.
fail-fast = false

test-threads = 2

[profile.ci.junit]
path = "junit.xml"
store-success-output = true
store-failure-output = true
