[package]
name = "test_wasm_foo"
version = "0.0.1"
authors = [ "thedavidmeister", "thedavidmeister@gmail.com" ]
edition = "2021"

[lib]
name = "test_wasm_foo"
crate-type = [ "cdylib", "rlib" ]

[dependencies]
serde = "1.0"
holochain_test_wasm_common = { path = "../../../wasm_common" }
hdk = { path = "../../../../hdk" }

[features]
default = []
mock = ["hdk/mock"]
