[package]
name = "hdk"
version = "0.0.101-alpha.0"
description = "The Holochain HDK"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain/tree/develop/crates/hdk"
documentation = "https://docs.rs/hdk/"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "hdk" ]
categories = [ "cryptography" ]
edition = "2018"

[lib]
crate-type = [ "cdylib", "rlib" ]
path = "src/lib.rs"

[features]
default = []
mock = ["hdk_derive/mock", "mockall"]
test_utils = [ "holochain_zome_types/test_utils" ]

[dependencies]
hdk_derive = { version = "^0.0.2-alpha.1", path = "../hdk_derive" }
holo_hash = { version = "0.0.2-alpha.1", path = "../holo_hash" }
holochain_wasmer_guest = { git = "https://github.com/holochain/holochain-wasmer.git", branch = "fix_leak_2" }
holochain_zome_types = { version = "0.0.2-alpha.1", path = "../holochain_zome_types" }
paste = "=1.0.5"
serde = "1.0"
serde_bytes = "0.11"
thiserror = "1.0.22"
tracing = "0.1"
tracing-core = "0.1"
mockall = { version = "0.9", optional = true }

[dependencies.tracing-subscriber]
version = "0.2"
features = []

[dev-dependencies]
fixt = { path = "../fixt" }
