[package]
name = "kitsune_p2p_dht_arc"
version = "0.0.2"
description = "Kitsune P2p Dht Arc Utils"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://github.com/holochain/holochain"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "p2p", "dht", "networking" ]
categories = [ "network-programming" ]
edition = "2018"

[dependencies]
derive_more = "0.99"
intervallum = "=1.3.0"
gcollections = "1.4.0"
rusqlite = { version = "0.25", optional = true }
serde = {version = "1.0", features = ["derive"]}

[features]
test_utils = []

sqlite = ["rusqlite"]
