[package]
name = "holochain_cli_sandbox"
version = "0.4.0-dev.25"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_cli_sandbox"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
keywords = ["holochain", "holo"]
categories = [
  "command-line-utilities",
  "development-tools::build-utils",
  "filesystem",
]
edition = "2021"
license = "Apache-2.0"
description = "A library and CLI to help create, run and interact with sandboxed Holochain conductor environments, for testing and development purposes."

[[bin]]
name = "hc-sandbox"
path = "src/bin/hc-sandbox.rs"

# reminder - do not use workspace deps
[dependencies]
anyhow = "1.0"
ansi_term = "0.12"
chrono = { version = "0.4.22", default-features = false, features = [
  "clock",
  "std",
  "oldtime",
  "serde",
] }
clap = { version = "4.0", features = ["derive", "env"] }
futures = "0.3"
holochain_chc = { version = "^0.1.0-dev.5", path = "../holochain_chc", optional = true }
holochain_conductor_api = { path = "../holochain_conductor_api", version = "^0.4.0-dev.25", features = [
  "sqlite",
] }
holochain_types = { path = "../holochain_types", version = "^0.4.0-dev.24", features = [
  "sqlite",
] }
holochain_websocket = { path = "../holochain_websocket", version = "^0.4.0-dev.24" }
holochain_p2p = { path = "../holochain_p2p", version = "^0.4.0-dev.25", features = [
  "sqlite",
] }
holochain_util = { version = "^0.4.0-dev.4", path = "../holochain_util", features = [
  "pw",
] }
kitsune_p2p_types = { version = "^0.4.0-dev.13", path = "../kitsune_p2p/types" }
nanoid = "0.4"
holochain_trace = { version = "^0.4.0-dev.5", path = "../holochain_trace" }
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"
serde_json = "1.0"
sodoken = "=0.0.11"
tokio = { version = "1.36.0", features = ["full"] }
tracing = "0.1"
url2 = "0.0.6"
walkdir = "2"

[dev-dependencies]
matches = "0.1"

[lints]
workspace = true

[features]
default = ["chc"]

chc = ["holochain_chc", "holochain_conductor_api/chc"]

instrument = [
  "holochain_chc/instrument",
]
