[package]
name = "holochain_cli_sandbox"
version = "0.0.22"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_cli_sandbox"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo" ]
categories = [ "command-line-utilities", "development-tools::build-utils", "filesystem" ]
edition = "2018"
license = "Apache-2.0"
description = "A library and CLI to help create, run and interact with sandboxed Holochain conductor environments, for testing and development purposes."

[[bin]]
name = "hc-sandbox"
path = "src/bin/hc-sandbox.rs"

[dependencies]
anyhow = "1.0"
ansi_term = "0.12"
chrono = "0.4.6"
futures = "0.3"
lazy_static = "1.4.0"
holochain_conductor_api = { path = "../holochain_conductor_api", version = "0.0.25"}
holochain_types = { path = "../holochain_types", version = "0.0.25"}
holochain_websocket = { path = "../holochain_websocket", version = "0.0.25"}
holochain_p2p = { path = "../holochain_p2p", version = "0.0.25"}
nanoid = "0.3"
observability = "0.1.3"
serde_yaml = "0.8"
tokio = { version = "1.11", features = [ "full" ] }
structopt = "0.3"
tracing = "0.1"
url2 = "0.0.6"
walkdir = "2"

[dev-dependencies]
assert_cmd = "1.0.1"
matches = "0.1"
portpicker = "0.1.0"
