[package]
name = "holochain_cli_sandbox"
version = "0.3.0-beta-dev.35"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_cli_sandbox"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
keywords = ["holochain", "holo"]
categories = ["command-line-utilities", "development-tools::build-utils", "filesystem"]
edition = "2021"
license = "Apache-2.0"
description = "A library and CLI to help create, run and interact with sandboxed Holochain conductor environments, for testing and development purposes."

[[bin]]
name = "hc-sandbox"
path = "src/bin/hc-sandbox.rs"

[dependencies]
anyhow = "1.0"
ansi_term = "0.12"
chrono = { version = "0.4.22", default-features = false, features = ["clock", "std", "oldtime", "serde"] }
clap = { version = "4.0", features = [ "derive", "env" ] }
futures = "0.3"
holochain_conductor_api = { path = "../holochain_conductor_api", version = "^0.3.0-beta-dev.35", features = ["sqlite"] }
holochain_types = { path = "../holochain_types", version = "^0.3.0-beta-dev.32", features = ["sqlite"] }
holochain_websocket = { path = "../holochain_websocket", version = "^0.3.0-beta-dev.12"}
holochain_p2p = { path = "../holochain_p2p", version = "^0.3.0-beta-dev.34", features = ["sqlite"] }
holochain_util = { version = "^0.3.0-beta-dev.3", path = "../holochain_util", features = ["pw"] }
kitsune_p2p_types = { version = "^0.3.0-beta-dev.20", path = "../kitsune_p2p/types" }
nanoid = "0.3"
holochain_trace = { version = "^0.3.0-beta-dev.6", path = "../holochain_trace" }
once_cell = "1.13.0"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"
serde_json = "1.0"
sodoken = "=0.0.9"
tokio = { version = "1.27", features = ["full"] }
tracing = "0.1"
url2 = "0.0.6"
walkdir = "2"

[dev-dependencies]
assert_cmd = "1.0.1"
matches = "0.1"
escargot = "0.5.7"
which = "4.4.0"

[features]

chc = [
    "holochain_types/chc",
    "holochain_conductor_api/chc",
]
