[package]
name = "holochain_types"
version = "0.0.1"
description = "Holochain common types"
license-file = "LICENSE_CAL-1.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://github.com/holochain/holochain"
readme = "README.md"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.26"
async-trait = "0.1"
automap = { version = "0.1", features = ["serde"] }
backtrace = "0.3.27"
base64 = "0.13"
cfg-if = "0.1"
chrono = "0.4.6"
derive_more = "0.99.3"
either = "1.5"
ffs = { path = "../ffs", features =["backtrace"] }
fixt = { path = "../fixt" }
flate2 = "1.0.14"
futures = "0.3"
holo_hash = { version = "^0.0.2-alpha.1", path = "../holo_hash", features = ["string-encoding"] }
holochain_keystore = { version = "0.0.1", path = "../holochain_keystore" }
holochain_serialized_bytes = "=0.0.50"
holochain_sqlite = { path = "../holochain_sqlite" }
holochain_zome_types = { path = "../holochain_zome_types" }
itertools = { version = "0.10" }
lazy_static = "1.4.0"
mockall = "0.8"
mr_bundle = { path = "../mr_bundle", features = ["packing"] }
must_future = "0.1.1"
nanoid = "0.3"
observability = "0.1.3"
rand = "0.7"
regex = "1.4"
serde = { version = "1.0", features = [ "derive", "rc" ] }
serde_bytes = "0.11"
serde_derive = "1.0"
serde_yaml = "0.8"
shrinkwraprs = "0.3.0"
strum = "0.18.0"
tempdir = "0.3.7"
thiserror = "1.0.22"
tokio = { version = "1.3", features = [ "rt" ] }
tokio_helper = { version = "0.0.1", path = "../tokio_helper" }
tracing = "=0.1.21"
derive_builder = "0.9.0"

arbitrary = { version = "1.0", features = ["derive"], optional = true}

[dev-dependencies]
maplit = "1"
matches = "0.1"
tokio = { version = "1.3", features = [ "full" ] }

[features]
default = ["fixturators", "test_utils"]
fixturators = ["holochain_zome_types/fixturators"]
test_utils = ["holochain_zome_types/test_utils", "arbitrary", "holo_hash/arbitrary", "mr_bundle/arbitrary"]
