[package]
name = "holochain_types"
version = "0.7.0-dev.5"
description = "Holochain common types"
license = "Apache-2.0"
repository = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_types"
readme = "README.md"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2021"

# reminder - do not use workspace deps
[dependencies]
anyhow = "1.0"
async-trait = "0.1"
backtrace = "0.3.27"
base64 = "0.22"
derive_builder = "0.20"
derive_more = { version = "2.0", features = ["constructor", "into_iterator"] }
futures = "0.3"
holo_hash = { version = "^0.7.0-dev.1", path = "../holo_hash", features = [
  "encoding",
  "schema",
] }
holochain_keystore = { version = "^0.7.0-dev.2", path = "../holochain_keystore" }
holochain_nonce = { version = "^0.7.0-dev.0", path = "../holochain_nonce" }
holochain_serialized_bytes = "=0.0.56"
holochain_sqlite = { path = "../holochain_sqlite", version = "^0.7.0-dev.3" }
holochain_trace = { version = "^0.7.0-dev.0", path = "../holochain_trace" }
holochain_util = { version = "^0.7.0-dev.0", path = "../holochain_util", features = [
  "backtrace",
] }
holochain_zome_types = { path = "../holochain_zome_types", version = "^0.7.0-dev.2", features = [
  "full",
] }
holochain_timestamp = { version = "^0.7.0-dev.0", path = "../timestamp" }
kitsune2_api = "0.4.0-dev.1"
itertools = { version = "0.14" }
mr_bundle = { path = "../mr_bundle", features = [
  "fs",
], version = "^0.7.0-dev.0" }
must_future = "0.1.1"
nanoid = "0.4"
parking_lot = "0.12"
rand = "0.9"
regex = "1.4"
rusqlite = { version = "0.37" }
serde = { version = "1.0", features = ["derive", "rc"] }
serde_derive = "1.0"
serde_json = "1.0"
serde_with = "3.7.0"
serde_yaml = "0.9"
shrinkwraprs = "0.3.0"
strum = "0.27"
strum_macros = "0.27"
tempfile = "3"
thiserror = "2.0"
tokio = { version = "1.27", features = ["rt"] }
tracing = "0.1.26"
indexmap = { version = "2.6.0", features = ["serde"] }
schemars = "0.9"
bytes = { version = "1.10.1", features = ["serde"] }

fixt = { path = "../fixt", version = "^0.7.0-dev.0", optional = true }
isotest = { version = "0", optional = true }
proptest = { version = "1", optional = true }
proptest-derive = { version = "0", optional = true }

# contrafact
contrafact = { version = "0.2.0-rc.1", optional = true }

[dev-dependencies]
holochain_types = { path = ".", features = ["test_utils", "fuzzing"] }
kitsune2_test_utils = "0.4.0-dev.1"

isotest = { version = "0" }
matches = "0.1"
pretty_assertions = "1.4"
serde_json = "1.0"
test-case = "3.3"
tokio = { version = "1.11", features = ["full"] }

[lints]
workspace = true

[features]
default = []

fixturators = ["dep:fixt", "holochain_zome_types/fixturators"]

test_utils = [
  "fixturators",
  "fuzzing",
  "isotest",
  "holochain_keystore/test_utils",
  "holochain_zome_types/test_utils",
]

unstable-migration = []

fuzzing = [
  "contrafact",
  "proptest",
  "proptest-derive",
  "holo_hash/fuzzing",
  "holochain_zome_types/fuzzing",
]

instrument = []

sqlite-encrypted = [
  "rusqlite/bundled-sqlcipher-vendored-openssl",
  "holo_hash/sqlite-encrypted",
  "holochain_keystore/sqlite-encrypted",
  "holochain_sqlite/sqlite-encrypted",
  "holochain_zome_types/sqlite-encrypted",
]
sqlite = [
  "rusqlite/bundled",
  "holo_hash/sqlite",
  "holochain_keystore/sqlite",
  "holochain_sqlite/sqlite",
  "holochain_zome_types/sqlite",
]
