[package]
name = "holochain_types"
version = "0.0.19"
description = "Holochain common types"
license-file = "LICENSE_CAL-1.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holochain_types"
readme = "README.md"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.26"
async-trait = "0.1"
automap = { version = "0.1", features = ["serde"] }
backtrace = "0.3.27"
base64 = "0.13"
cfg-if = "0.1"
chrono = "0.4.6"
derive_more = "0.99.3"
either = "1.5"
fixt = { path = "../fixt", version = "0.0.8"}
flate2 = "1.0.14"
futures = "0.3"
holo_hash = { version = "0.0.13", path = "../holo_hash", features = ["encoding"] }
holochain_keystore = { version = "0.0.19", path = "../holochain_keystore" }
holochain_serialized_bytes = "=0.0.51"
holochain_sqlite = { path = "../holochain_sqlite", version = "0.0.19"}
holochain_zome_types = { path = "../holochain_zome_types", version = "0.0.18", features = ["full"] }
itertools = { version = "0.10" }
lazy_static = "1.4.0"
mockall = "0.10.2"
mr_bundle = { path = "../mr_bundle", features = ["packing"], version = "0.0.6"}
must_future = "0.1.1"
nanoid = "0.3"
observability = "0.1.3"
rand = "0.7"
regex = "1.4"
rusqlite = { version = "0.26" }
serde = { version = "1.0", features = [ "derive", "rc" ] }
serde_bytes = "0.11"
serde_derive = "1.0"
serde_yaml = "0.8"
shrinkwraprs = "0.3.0"
strum = "0.18.0"
strum_macros = "0.18.0"
tempdir = "0.3.7"
thiserror = "1.0.22"
tokio = { version = "1.11", features = [ "rt" ] }
holochain_util = { version = "0.0.6", path = "../holochain_util", features = ["backtrace"] }
tracing = "0.1.26"
derive_builder = "0.9.0"

arbitrary = { version = "1.0", features = ["derive"], optional = true}

# contrafact
contrafact = { version = "0.1.0-dev.1", optional = true }

[dev-dependencies]
maplit = "1"
matches = "0.1"
serde_json = "1"
tokio = { version = "1.11", features = [ "full" ] }

[features]
default = ["fixturators", "test_utils"]
fixturators = ["holochain_zome_types/fixturators"]
test_utils = [
  "arbitrary",
  "contrafact",
  "holochain_zome_types/arbitrary",
  "holo_hash/arbitrary",
  "mr_bundle/arbitrary",
  "holochain_zome_types/test_utils",
]
