[package]
name = "release-automation"
version = "0.2.0-alpha.1"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
edition = "2021"
documentation = "https://docs.rs/release-automation"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "release_automation"
path = "src/lib/mod.rs"

[dependencies]
comrak = "0.10"
yaml-rust = "0.4.5"
structopt = "0.3"
bstr = "0.2"
cargo = "0.67"
once_cell = "1.7"
anyhow = "1.0.66"
# needs to be in sync with what cargo is using
semver = "1.0.3"
serde = "1.0.144"
serde_yaml = "0.9.11"
educe = "0.4"
indoc = "1.0"
git2 = "0.15"
linked_hash_set = "0.1"
linked-hash-map = "0.5"
custom_debug = "0.5"
log = "0.4"
env_logger = "0.8"
fancy-regex = "0.6"
enumflags2 = "0.7"
enum-utils = "0.1"
chrono = { version = "0.4.22", default-features = false, features = ["clock", "std", "oldtime", "serde"] }
cargo-next = "0.1"
toml_edit = "0.2"
thiserror = "1"
regex = "1.5"
itertools = "0.10"
crates-index-helper = { git = "https://github.com/holochain/holochain-nixpkgs", rev = "d4701b21239be5223409123d7bdd06004af3b044" }

# used for the example clippy fix-json
rustfix = "0.6"
serde_json = "1.0"
serde_with = "1.9.4"

[dev-dependencies]
ctor = "0.1"
prettydiff = "0.4"
pretty_assertions = "1.1"
tempfile = "3"
cargo-test-support = { git = "https://github.com/rust-lang/cargo", branch = "rust-1.66.0" }
assert_cmd = "1.0"
predicates = "1.0"
test-case = "2.2.1"
