[package]
name = "hdk_derive"
version = "0.0.4"
description = "derive macros for the holochain hdk"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://github.com/holochain/holochain"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "hdk" ]
categories = [ "cryptography" ]
edition = "2018"

[lib]
proc-macro = true

[dependencies]
syn = { version = "1", features = [ "full", "extra-traits" ] }
quote = "1"
proc-macro2 = "1"
paste = "=1.0.5"
# it's important that we depend on holochain_zome_types with no default
# features, both here AND in hdk, to reduce code bloat
holochain_zome_types = { version = "0.0.4", path = "../holochain_zome_types", default-features = false }

[features]
default = []
mock = []
