[package]
name = "test_wasm_whoami"
version = "0.0.1"
authors = [ "thedavidmeister", "thedavidmeister@gmail.com" ]
edition = "2021"

[lib]
name = "test_wasm_whoami"
crate-type = [ "cdylib", "rlib" ]

[dependencies]
hdk = { path = "../../../../hdk" }
holochain_test_wasm_common = { path = "../../../wasm_common" }
serde = "1.0"

[features]
default = []
mock = ["hdk/mock"]
