[package]
name = "holo_hash"
version = "0.0.1"
description = "hashing helpers supporting dht sharding"
license = "Apache-2.0"
homepage = "https://github.com/Holo-host/holochain-2020"
documentation = "https://github.com/Holo-host/holochain-2020"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
keywords = ["holochain", "holo", "hash", "blake", "blake2b"]
categories = ["cryptography"]
edition = "2018"

[dependencies]
base64 = "0.12.0"
blake2b_simd = "0.5.10"
holochain_serialized_bytes = "=0.0.36"
serde = { version = "1.0.104", features = ["derive"] }
serde_bytes = "0.11"
thiserror = "1"
tokio = { version = "0.2", optional = true }

[dev-dependencies]
tokio = { version = "0.2", features = ["full"] }

[features]
default = ["async"]

no_async = []

async = ["tokio"]
