[package]
name = "holo_hash"
version = "0.0.2-alpha.1"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "hash", "blake", "blake2b" ]
categories = [ "cryptography" ]
edition = "2018"
description = "hashing helpers supporting dht sharding"
license-file = "LICENSE_CAL-1.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://github.com/holochain/holochain"

[dependencies]
serde = "1"
serde_bytes = "0.11"

arbitrary = {version = "1.0", optional = true}
base64 = {version = "0.13", optional = true}
blake2b_simd = {version = "0.5.10", optional = true}
derive_more = { version = "0.99", optional = true }
fixt = { version = "^0.0.2-alpha.1", path = "../fixt", optional = true }
holochain_serialized_bytes = {version = "=0.0.50", optional = true }
rand = {version = "0.7", optional = true}
tracing = { version = "0.1", optional = true}
thiserror = "1.0.22"

[dev-dependencies]
serde_json = { version = "1.0.51", features = [ "preserve_order" ] }

[features]

default = ["serialized-bytes", "fixturators"]
full = ["fixturators", "hashing", "string-encoding"]

fixturators = ["fixt", "rand", "hashing", "string-encoding"]
serialized-bytes = ["holochain_serialized_bytes"]
string-encoding = ["base64", "blake2b_simd", "derive_more"]
hashing = ["blake2b_simd", "serialized-bytes"]
test_utils = ["fixturators"]

[package.metadata.cargo-udeps.ignore]
normal = ["tracing"]
