[package]
name = "holo_hash"
version = "0.4.0-dev.6"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
keywords = ["holochain", "holo", "hash", "blake", "blake2b"]
categories = ["cryptography"]
edition = "2021"
description = "hashing helpers supporting dht sharding"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holo_hash"

[package.metadata.cargo-udeps.ignore]
normal = ["tracing"]

# reminder - do not use workspace deps
[dependencies]
thiserror = "1.0.22"

arbitrary = { version = "1.0", optional = true }
base64 = { version = "0.22", optional = true }
blake2b_simd = { version = "1.0", optional = true }
derive_more = { version = "0.99", optional = true }
fixt = { version = "^0.4.0-dev.2", path = "../fixt", optional = true }
futures = { version = "0.3", optional = true }
holochain_serialized_bytes = { version = "=0.0.55", optional = true }
holochain_util = { version = "^0.4.0-dev.1", path = "../holochain_util", default-features = false }
kitsune_p2p_dht_arc = { version = "^0.4.0-dev.6", path = "../kitsune_p2p/dht_arc" }
must_future = { version = "0.1", optional = true }
proptest = { version = "1", optional = true }
proptest-derive = { version = "0", optional = true }
rand = { version = "0.8.5", optional = true }
rusqlite = { version = "0.31", optional = true }
serde = { version = "1", optional = true }
serde_bytes = { version = "0.11", optional = true }
tracing = { version = "0.1", optional = true }
holochain_wasmer_common = { git = "https://github.com/mattyg/holochain-wasmer.git", branch = "feat/wasmer-wamr-integration", package = "holochain_wasmer_common", optional = true }

[dev-dependencies]
serde_json = { version = "1.0.51", features = ["preserve_order"] }

[lints]
workspace = true

[features]
default = ["serialization", "holochain-wasmer"]
full = ["fixturators", "hashing", "encoding", "sqlite"]

fuzzing = [
  "arbitrary",
  "proptest",
  "proptest-derive",
  "holochain_serialized_bytes?/fuzzing",
]

fixturators = ["fixt", "rand", "hashing", "encoding"]
hashing = ["futures", "must_future", "blake2b_simd", "serialization"]
serialization = ["holochain_serialized_bytes", "serde", "serde_bytes"]
encoding = ["base64", "blake2b_simd", "derive_more"]
test_utils = ["fixturators"]
holochain-wasmer = ["holochain_wasmer_common"]

sqlite-encrypted = [
  "rusqlite",
  "rusqlite/bundled-sqlcipher-vendored-openssl",
  "kitsune_p2p_dht_arc/sqlite-encrypted",
]
sqlite = ["rusqlite", "rusqlite/bundled", "kitsune_p2p_dht_arc/sqlite"]
