[package]
name = "holo_hash"
version = "0.0.1"
description = "hashing helpers supporting dht sharding"
license = "Apache-2.0"
homepage = "https://github.com/Holo-host/holochain-2020"
documentation = "https://github.com/Holo-host/holochain-2020"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
keywords = ["holochain", "holo", "hash", "blake", "blake2b"]
categories = ["cryptography"]
edition = "2018"

[dependencies]
base64 = "0.12.0"
blake2b_simd = "0.5.10"
holo_hash_core = { version = "0.0.1", path = "../holo_hash_core" }
holochain_serialized_bytes = "=0.0.39"
serde = { version = "1.0.104", features = ["derive"] }
serde_bytes = "0.11"
thiserror = "1"
tokio = { version = "0.2" }
fixt = { path = "../fixt" }
rand = "0.7"
tokio_safe_block_on = "0.1.1"

[dev-dependencies]
tokio = { version = "0.2", features = ["full"] }
