[package]
name = "holo_hash"
version = "0.6.0-rc.0"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
keywords = ["holochain", "holo", "hash", "blake", "blake2b"]
categories = ["cryptography"]
edition = "2021"
description = "hashing helpers supporting dht sharding"
license = "Apache-2.0"
repository = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/holo_hash"

[package.metadata.cargo-udeps.ignore]
normal = ["tracing"]

# reminder - do not use workspace deps
[dependencies]
thiserror = "2.0"
base64 = { version = "0.22", optional = true }
blake2b_simd = { version = "1.0", optional = true }
bytes = { version = "1", optional = true }
derive_more = { version = "2.0", features = [
  "as_ref",
  "constructor",
  "display",
  "into",
  "from",
], optional = true }
fixt = { version = "^0.6.0-rc.0", path = "../fixt", optional = true }
futures = { version = "0.3", optional = true }
holochain_serialized_bytes = { version = "=0.0.56", optional = true }
holochain_util = { version = "^0.6.0-rc.0", path = "../holochain_util", default-features = false }
kitsune2_api = { version = "0.3.1", optional = true }
must_future = { version = "0.1", optional = true }
proptest = { version = "1", optional = true }
proptest-derive = { version = "0", optional = true }
rand = { version = "0.9", optional = true }
rusqlite = { version = "0.37", optional = true }
serde = { version = "1", optional = true }
serde_bytes = { version = "0.11", optional = true }
sha2 = { version = "0.10", optional = true }
holochain_wasmer_common = { version = "=0.0.101", optional = true }
schemars = { version = "0.9", optional = true }

[dev-dependencies]
serde_json = { version = "1.0", features = ["preserve_order"] }

[lints]
workspace = true

[features]
default = ["serialization", "holochain-wasmer"]
full = ["fixturators", "hashing", "encoding", "sqlite"]

test_utils = ["fixturators"]
fixturators = ["fixt", "rand", "hashing", "encoding"]
fuzzing = ["proptest", "proptest-derive", "holochain_serialized_bytes?/fuzzing"]

hashing = ["futures", "must_future", "dep:blake2b_simd", "serialization"]
kitsune2 = ["dep:bytes", "dep:kitsune2_api"]
serialization = ["holochain_serialized_bytes", "serde", "serde_bytes"]
encoding = ["dep:base64", "dep:blake2b_simd", "dep:derive_more", "dep:sha2"]
holochain-wasmer = ["holochain_wasmer_common"]
schema = ["dep:schemars"]

sqlite-encrypted = ["rusqlite", "rusqlite/bundled-sqlcipher-vendored-openssl"]
sqlite = ["rusqlite", "rusqlite/bundled"]
