[package]
name = "holo_hash"
version = "0.0.5"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "hash", "blake", "blake2b" ]
categories = [ "cryptography" ]
edition = "2018"
description = "hashing helpers supporting dht sharding"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://github.com/holochain/holochain"

[package.metadata.cargo-udeps.ignore]
normal = ["tracing"]

[dependencies]
thiserror = "1.0.22"

arbitrary = {version = "1.0", optional = true}
base64 = {version = "0.13", optional = true}
blake2b_simd = {version = "0.5.10", optional = true}
derive_more = { version = "0.99", optional = true }
fixt = { version = "0.0.5", path = "../fixt", optional = true }
futures = {version = "0.3", optional = true}
holochain_serialized_bytes = {version = "=0.0.51", optional = true }
must_future = {version = "0.1", optional = true}
rand = {version = "0.7", optional = true}
rusqlite = { version = "0.25", optional = true }
serde = { version = "1", optional = true }
serde_bytes = { version = "0.11", optional = true }
tracing = { version = "0.1", optional = true}

[dev-dependencies]
serde_json = { version = "1.0.51", features = [ "preserve_order" ] }

[features]

default = ["serialization", "fixturators"]
full = ["fixturators", "hashing", "encoding", "rusqlite"]

fixturators = ["fixt", "rand", "hashing", "encoding"]
hashing = ["futures", "must_future", "blake2b_simd", "serialization"]
serialization = ["holochain_serialized_bytes", "serde", "serde_bytes"]
encoding = ["base64", "blake2b_simd", "derive_more"]
test_utils = ["fixturators"]
