[package]
name = "test_wasm_validate_valid"
version = "0.0.1"
authors = [ "thedavidmeister", "thedavidmeister@gmail.com" ]
edition = "2018"

[lib]
name = "test_wasm_validate_valid"
crate-type = [ "cdylib", "rlib" ]

[dependencies]
serde = "1.0"
hdk = { path = "../../../../hdk" }

# [dev-dependencies]
# hdk = { path = "../../../../hdk", features = ["mock"]}

[features]
default = []
mock = ["hdk/mock"]