[package]
name = "holochain_trace"
version = "0.2.0-beta-rc.1"
authors = ["freesig <tom.gowan@holo.host>", "Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2021"
description = "tracing helpers"
license = "MIT"
documentation = "https://docs.rs/holochain_trace"
repository = "https://github.com/holochain/holochain"

[features]
default = []
# default = ["opentelemetry-on"]
# Allows across thread and process tracing
# opentelemetry-on = ["opentelemetry", "tracing-opentelemetry", "holochain_serialized_bytes", "serde", "serde_bytes"]
channels = ["tokio", "shrinkwraprs"]

[dependencies]
chrono = "0.4.24"
derive_more = "0.99.17"
inferno = "0.11.15"
serde_json = { version = "1.0.94", features = [ "preserve_order" ] }
thiserror = "1.0.39"
tracing = "0.1.37"
tracing-core = "0.1.30"
tracing-serde = "0.1.3"
tracing-subscriber = { version = "0.3.16", features = [ "env-filter", "time", "json" ] }

# opentelemetry = { version = "0.8", default-features = false, features = ["trace", "serialize"], optional = true }
# tracing-opentelemetry = { version = "0.8.0", optional = true }
holochain_serialized_bytes = {version = "0.0", optional = true }
serde = { version = "1", optional = true }
serde_bytes = { version = "0.11", optional = true }
tokio = { version = "1.26", features = [ "sync" ], optional = true }
shrinkwraprs = { version = "0.3.0", optional = true }
once_cell = "1.5"

[dev-dependencies]
tokio = { version = "1.26", features = [ "full" ] }
tracing-futures = "0.2.5"
