[package]
name = "kitsune_p2p_fetch"
version = "0.3.0-beta-dev.8"
description = "Kitsune P2p Fetch Queue Logic"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/kitsune_p2p_fetch"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "p2p", "dht", "networking" ]
categories = [ "network-programming" ]
edition = "2021"


[dependencies]
derive_more = "0.99"
futures = "0.3"
kitsune_p2p_types = { version = "^0.3.0-beta-dev.7", path = "../types" }
kitsune_p2p_timestamp = { version = "^0.3.0-beta-dev.0", path = "../timestamp", features = ["now"]}
must_future = "0.1"
num-traits = "0.2.14"
serde = { version = "1.0", features = [ "derive" ] }
serde_bytes = "0.11"
tokio = { version = "1.27", features = [ "full" ] }
tracing = "0.1.29"
linked-hash-map = "0.5.6"

human-repr = { version = "1", optional = true}
arbitrary = { version = "1", optional = true }
proptest = { version = "1", optional = true }
proptest-derive = { version = "0", optional = true }

[dev-dependencies]
kitsune_p2p_fetch = { path = ".", features = ["test_utils", "sqlite"]}
holochain_serialized_bytes = "0.0.52"
holochain_trace = { version = "^0.3.0-beta-dev.1", path = "../../holochain_trace" }
pretty_assertions = "0.7.2"
test-case = "1.2"
tokio = { version = "1.27", features = [ "full", "test-util" ] }
rand = "0.8.5"

[features]
fuzzing = [
    "arbitrary",
    "proptest",
    "proptest-derive",
    "kitsune_p2p_types/fuzzing"
]
test_utils = ["human-repr", "fuzzing", "kitsune_p2p_types/test_utils"]
default = ["test_utils"]
sqlite-encrypted = [
    "kitsune_p2p_timestamp/sqlite-encrypted",
    "kitsune_p2p_types/sqlite-encrypted",
]
sqlite = [
    "kitsune_p2p_timestamp/sqlite",
    "kitsune_p2p_types/sqlite",
]
