[package]
name = "kitsune_p2p_fetch"
version = "0.3.0-beta-dev.21"
description = "Kitsune P2p Fetch Queue Logic"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/kitsune_p2p_fetch"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "p2p", "dht", "networking" ]
categories = [ "network-programming" ]
edition = "2021"


[dependencies]
derive_more = { workspace = true }
kitsune_p2p_timestamp = { version = "^0.3.0-beta-dev.5", path = "../timestamp"}
kitsune_p2p_types = { version = "^0.3.0-beta-dev.19", path = "../types" }
serde = { version = "1.0", features = [ "derive" ] }
tokio = { version = "1.27", features = [ "full" ] }
tracing = "0.1.29"
linked-hash-map = "0.5.6"

human-repr = { version = "1", optional = true}
arbitrary = { version = "1", optional = true }
proptest = { version = "1", optional = true }
proptest-derive = { version = "0", optional = true }

[dev-dependencies]
kitsune_p2p_fetch = { path = ".", features = ["test_utils", "sqlite", "fuzzing"]}

holochain_serialized_bytes = "0.0.53"
holochain_trace = { version = "^0.3.0-beta-dev.6", path = "../../holochain_trace" }
pretty_assertions = "1.4.0"
test-case = "1.2"
tokio = { version = "1.27", features = [ "full", "test-util" ] }
rand = "0.8.5"

[features]
fuzzing = [
    "arbitrary",
    "proptest",
    "proptest-derive",
    "kitsune_p2p_timestamp/fuzzing",
    "kitsune_p2p_types/fuzzing",
]

test_utils = ["human-repr", "kitsune_p2p_types/test_utils"]

default = []

sqlite-encrypted = [
    "kitsune_p2p_types/sqlite-encrypted",
]
sqlite = [
    "kitsune_p2p_types/sqlite",
]
