[package]
name = "kitsune_p2p_fetch"
version = "0.2.6-rc.0"
description = "Kitsune P2p Fetch Queue Logic"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/kitsune_p2p_fetch"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "p2p", "dht", "networking" ]
categories = [ "network-programming" ]
edition = "2021"


[dependencies]
derive_more = "0.99"
futures = "0.3"
kitsune_p2p_types = { version = "^0.2.6-rc.0", path = "../types" }
kitsune_p2p_timestamp = { version = "^0.2.6-rc.0", path = "../timestamp", features = ["now"]}
must_future = "0.1"
num-traits = "0.2.14"
serde = { version = ">= 1.0, <= 1.0.166", features = [ "derive" ] }
serde_bytes = "0.11"
thiserror = "1.0"
tokio = { version = "1.27", features = [ "full" ] }
tracing = "0.1.29"
backon = "0.4.1"
indexmap = "2.1.0"

human-repr = { version = "1", optional = true}

[dev-dependencies]
kitsune_p2p_fetch = { path = ".", features = ["test_utils", "sqlite"]}
holochain_serialized_bytes = "0.0.53"
holochain_trace = { version = "^0.2.5", path = "../../holochain_trace" }
pretty_assertions = "0.7.2"
test-case = "1.2"
tokio = { version = "1.27", features = [ "full", "test-util" ] }
arbitrary = "1"
rand = "0.8.5"

[features]
test_utils = ["human-repr"]
default = ["test_utils"]
sqlite-encrypted = [
    "kitsune_p2p_timestamp/sqlite-encrypted",
    "kitsune_p2p_types/sqlite-encrypted",
]
sqlite = [
    "kitsune_p2p_timestamp/sqlite",
    "kitsune_p2p_types/sqlite",
]
