[package]
name = "kitsune_p2p_fetch"
version = "0.1.0-beta-rc.1"
description = "Kitsune P2p Fetch Queue Logic"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/kitsune_p2p_fetch"
authors = [ "Holochain Core Dev Team <devcore@holochain.org>" ]
keywords = [ "holochain", "holo", "p2p", "dht", "networking" ]
categories = [ "network-programming" ]
edition = "2021"


[dependencies]
derive_more = "0.99"
futures = "0.3"
kitsune_p2p_types = { version = "^0.1.0-beta-rc.2", path = "../types" }
kitsune_p2p_timestamp = { version = "^0.1.0-beta-rc.1", path = "../timestamp", features = ["now"]}
must_future = "0.1"
num-traits = "0.2.14"
serde = { version = "1.0", features = [ "derive" ] }
serde_bytes = "0.11"
thiserror = "1.0"
tokio = { version = "1.11", features = [ "full" ] }
tracing = "0.1.29"
linked-hash-map = "0.5.6"

[dev-dependencies]
kitsune_p2p_fetch = { path = ".", features = ["test_utils"]}
holochain_serialized_bytes = "0.0.51"
observability = "0.1"
pretty_assertions = "0.7.2"
test-case = "1.2"
tokio = { version = "1.11", features = [ "full", "test-util" ] }

[features]
test_utils = []
default = ["test_utils"]
