[workspace]
members = [
    # "agent_info",
    # "anchor",
    # "bench",
    # "capability",
    "coordinator_zome",
    # "coordinator_zome_update",
    # "countersigning",
    # "create_entry",
    # "crd",
    # "crud",
    # "debug",
    # "emit_signal",
    # "entry_defs",
    # "hash_entry",
    # "foo",
    # "genesis_self_check_invalid",
    # "genesis_self_check_valid",
    # "hash_path",
    # "hdk_extern",
    # "init_fail",
    # "init_pass",
    # "integrity_zome",
    # "link",
    # "migrate_agent_fail",
    # "migrate_agent_pass",
    # "multiple_calls",
    # "must_get",
    # "post_commit_success",
    # "post_commit_volley",
    # "query",
    # "random_bytes",
    # "schedule",
    # "x_salsa20_poly1305",
    # "ser_regression",
    # "sign",
    # "sys_time",
    # "update_entry",
    # "validate",
    # "validate_invalid",
    # "validate_link",
    # "validate_link_add_invalid",
    # "validate_link_add_valid",
    # "validate_valid",
    # "validation_package_fail",
    # "validation_package_success",
    # "whoami",
    # "zome_info",
]

[profile.release]
opt-level = "z"


[patch.crates-io]
# holochain_wasmer_common = { git = "https://github.com/holochain/holochain-wasmer.git", branch = "develop" }
# holochain_wasmer_guest = { git = "https://github.com/holochain/holochain-wasmer.git", branch = "2021-04-27-singlepass" }
# holochain_wasmer_host = { path = "../../../../../holochain-wasmer/crates/host" }
# holochain_wasmer_host = { git = "https://github.com/holochain/holochain-wasmer.git", branch = "bump-serde" }
# holochain_serialized_bytes = { git = "https://github.com/holochain/holochain-serialization.git", branch = "arbitrary" }
# holochain_serialized_bytes_derive = { git = "https://github.com/holochain/holochain-serialization.git", branch = "arbitrary" }
