[workspace]
members = [
    "agent_info",
    "anchor",
    "bench",
    "capability",
    "create_entry",
    "crd",
    "crud",
    "debug",
    "entry_defs",
    "hash_entry",
    "foo",
    "hash_path",
    "imports",
    "init_fail",
    "init_pass",
    "link",
    "migrate_agent_fail",
    "migrate_agent_pass",
    "multiple_calls",
    "post_commit_fail",
    "post_commit_success",
    "query",
    "random_bytes",
    "ser_regression",
    "sign",
    "sys_time",
    "validate",
    "validate_invalid",
    "validate_link",
    "validate_link_add_invalid",
    "validate_link_add_valid",
    "validate_valid",
    "validation_package_fail",
    "validation_package_success",
    "whoami",
    "zome_info",
]

[profile.release]
opt-level = "z"


[patch.crates-io]
