[workspace]
members = [
  "agent_info",
  "anchor",
  "app_validation",
  "bench",
  "bulbasaur",
  "capability",
  "clone",
  "coordinator_zome",
  "coordinator_zome_update",
  "countersigning",
  "create_entry",
  "crd",
  "crud",
  "debug",
  "dna_properties",
  "emit_signal",
  "post_commit_signal",
  "entry_defs",
  "hash_entry",
  "foo",
  "genesis_self_check_legacy",
  "genesis_self_check_1",
  "genesis_self_check_invalid",
  "genesis_self_check_valid",
  "genesis_self_check_requires_properties",
  "hc-stress-test-integrity",
  "hc-stress-test-coordinator",
  "hash_path",
  "hdk_extern",
  "init_fail",
  "init_pass",
  "integrity_zome",
  "link",
  "migrate_agent_fail",
  "migrate_agent_pass",
  "migrate_initial",
  "migrate_new",
  "multiple_calls",
  "must_get",
  "must_get_agent_activity",
  "post_commit_success",
  "post_commit_volley",
  "query",
  "random_bytes",
  "schedule",
  "x_salsa20_poly1305",
  "ser_regression",
  "sign",
  "sys_time",
  "the_incredible_halt",
  "update_entry",
  "validate",
  "validate_invalid",
  "validate_link",
  "validate_link_add_invalid",
  "validate_link_add_valid",
  "validate_valid",
  "validate_reject_app_types",
  "whoami",
  "zome_info",
]

resolver = "2"

[profile.release]
opt-level = "z"

[workspace.dependencies]
# !!!
# WARNING - PUT NOTHING HERE
# !!!
#
# release automation currently cannot handle workspace.dependencies
# it will publish unbuildable releases to crates.io

[patch.crates-io]
# holochain_wasmer_common = { git = "https://github.com/holochain/holochain-wasmer.git", branch = "develop" }
# holochain_wasmer_guest = { git = "https://github.com/holochain/holochain-wasmer.git", branch = "2021-04-27-singlepass" }
# holochain_wasmer_host = { path = "../../../../../holochain-wasmer/crates/host" }
# holochain_wasmer_host = { git = "https://github.com/holochain/holochain-wasmer.git", branch = "bump-serde" }
# holochain_serialized_bytes = { git = "https://github.com/holochain/holochain-serialization.git", branch = "arbitrary" }
# holochain_serialized_bytes_derive = { git = "https://github.com/holochain/holochain-serialization.git", branch = "arbitrary" }
