[package]
name = "kitsune_p2p_dht"
version = "0.4.0-rc.0"
description = "Kitsune P2p DHT definition"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain"
documentation = "https://docs.rs/kitsune_p2p_dht"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
keywords = ["holochain", "holo", "p2p", "dht", "networking"]
categories = ["network-programming"]
edition = "2021"

# reminder - do not use workspace deps
[dependencies]
colored = { version = "2.1", optional = true }
derivative = "2.2.0"
derive_more = "0.99"
kitsune_p2p_dht_arc = { version = "^0.4.0-rc.0", path = "../dht_arc" }
kitsune_p2p_timestamp = { version = "^0.4.0-rc.0", path = "../timestamp" }
num-traits = "0.2.14"
rand = "0.8.4"
serde = { version = "1.0", features = ["derive"] }
statrs = "0.16.0"
thiserror = "1.0"
tracing = "0.1.29"

futures = { version = "0.3", optional = true }
must_future = { version = "0.1", optional = true }

arbitrary = { version = "1", features = ["derive"], optional = true }
proptest = { version = "1", optional = true }
proptest-derive = { version = "0", optional = true }

[dev-dependencies]
kitsune_p2p_dht = { path = ".", features = ["test_utils", "sqlite"] }

kitsune_p2p_dht_arc = { path = "../dht_arc", features = ["test_utils"] }
holochain_serialized_bytes = "=0.0.55"
maplit = "1"
holochain_trace = { version = "^0.4.0-rc.0", path = "../../holochain_trace" }
pretty_assertions = "1.4.0"
proptest = "1"
test-case = "3.3"

[lints]
workspace = true

[features]
default = ["kitsune_p2p_timestamp/now"]
test_utils = ["dep:colored", "dep:futures", "dep:must_future", "fuzzing"]
fuzzing = [
  "arbitrary",
  "proptest",
  "proptest-derive",
  "kitsune_p2p_dht_arc/fuzzing",
  "kitsune_p2p_timestamp/fuzzing",
]
sqlite-encrypted = [
  "kitsune_p2p_timestamp/sqlite-encrypted",
  "kitsune_p2p_dht_arc/sqlite-encrypted",
]
sqlite = ["kitsune_p2p_timestamp/sqlite", "kitsune_p2p_dht_arc/sqlite"]
