name: build and test
on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: build-${{ github.ref_name }}-${{ github.event_name }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  holochain-build-and-test:
    uses: ./.github/actions/holochain-build-and-test.yml
