name: build holochain
on:
  workflow_dispatch:
  pull_request:

jobs:
  holochain-binaries:
    strategy:
      fail-fast: false
      matrix:
        nixCommand:
          - "nix build .#holochain --no-link"
          # - "nix build .#holochain-tests-nextest --no-link"
        platform:
          - system: x86_64-darwin
            runs-on: multi-arch
          - system: aarch64-darwin
            runs-on: multi-arch
          - system: x86_64-linux
            runs-on: [ubuntu-latest]

    runs-on: ${{ matrix.platform.runs-on }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          lfs: false

      - name: Install nix
        uses: cachix/install-nix-action@v18
        if: ${{ matrix.platform.runs-on != 'multi-arch' }}
        with:
          install_url: https://releases.nixos.org/nix/nix-2.12.0/install
          extra_nix_config: |
            experimental-features = flakes nix-command ca-derivations impure-derivations

      - name: Setup cachix
        uses: cachix/cachix-action@v12
        if: ${{ matrix.platform.runs-on != 'multi-arch' }}
        with:
          name: holochain-ci
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: "Test comand ${{ matrix.nixCommand }}"
        run: ${{ matrix.nixCommand }} -L --show-trace --system ${{ matrix.platform.system }}
