name: "holochain build and test"

on:
  workflow_call:
    inputs:
      repo_path:
        description: "a path to the holochain repository"
        required: false
        type: string
        default: "."

jobs:
  "test":
    strategy:
      fail-fast: false
      matrix:
        cmd:
          # ensure functionality on multiple platforms
          - pkgs:
              - build-holochain-tests-unit-all
              - build-holonix-tests-integration
            extra_arg: "--override-input holochain ${{ inputs.repo_path }}"
          # ensures to keep the cache populated for the most recent stable version on multiple platforms
          - pkgs:
              - build-holonix-tests-integration
            extra_arg: ""
        platform:
          - system: x86_64-darwin
          - system: aarch64-darwin
          - system: x86_64-linux

        include:
          # we only run repo consistency checks on x86_64-linux
          - cmd:
              pkgs:
                - build-holochain-build-crates-standalone
                - build-release-automation-tests
                - build-release-automation-tests-repo
                - build-holochain-tests-static-all
              extra_arg: "--override-input holochain ${{ inputs.repo_path }}"
            platform:
              system: x86_64-linux

    # runs-on: ${{ matrix.platform.runs-on }}
    runs-on: [self-hosted, multi-arch]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          lfs: false

      - name: Print matrix
        env:
          MATRIX: ${{ toJSON(matrix) }}
        run: echo ${MATRIX}

      - name: "Test comand ${{ matrix.nixCommand }}"
        env:
          system: ${{ matrix.platform.system }}
        run: |
          set -xe

          # if a nix store path was passed, ensure it exists locally
          if [[ ${{ inputs.repo_path }} == "/nix/"* ]]; then
            nix-store --realise ${{inputs.repo_path }}
          fi

          # first build all derivations. this could be enough for test derivations.
          nix build -L --show-trace \
            ${{ matrix.cmd.extra_arg }} \
            --override-input versions ./versions/0_1 \
            .#packages.${system}.${{ join(matrix.cmd.pkgs, ' .#packages.${system}.')}}

          # TODO: remove this once we've implemented all tests and know that we don't need it
          # if there's something to run we generate separate commands
          # if [[ ${{ matrix.cmd.verb }} == "run" ]]; then
          #   export basecmd="nix run -L --show-trace .#packages.${system}."
          #   ${basecmd}${{ join(matrix.cmd.pkgs, '; ${basecmd}') }}
          # fi
