name: test
on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop
env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: '-Dwarnings'
  RUST_BACKTRACE: 1
jobs:
  static-job-id:
    name: static
    runs-on: macos-latest # currently faster than ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - uses: ./.github/actions/common-pre

      - name: static-fmt
        run: make static-fmt

      - name: static-toml
        run: make static-toml

      - name: static-clippy
        run: make static-clippy

      - name: static-doc
        run: make static-doc

      - uses: ./.github/actions/common-post

  test-job-id:
    name: test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [
          ubuntu-latest,
          macos-latest,
          macos-13,
          windows-latest,
        ]
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - uses: ./.github/actions/common-pre

      - name: build windows
        if: matrix.os == 'windows-latest'
        run: |-
          $env:OPENSSL_NO_VENDOR="1"
          $env:OPENSSL_DIR="$(pwd)\vcpkg\packages\openssl_x64-windows-release"
          $env:SODIUM_LIB_DIR="$(pwd)\vcpkg\packages\libsodium_x64-windows-release\lib"
          make build-workspace

      - name: build
        if: matrix.os != 'windows-latest'
        run: make build-workspace

      - name: test windows
        if: matrix.os == 'windows-latest'
        run: |-
          $env:OPENSSL_NO_VENDOR="1"
          $env:OPENSSL_DIR="$(pwd)\vcpkg\packages\openssl_x64-windows-release"
          $env:SODIUM_LIB_DIR="$(pwd)\vcpkg\packages\libsodium_x64-windows-release\lib"
          make test-workspace

      - name: test
        if: matrix.os != 'windows-latest'
        run: make test-workspace

      - uses: ./.github/actions/common-post

  ci-pass:
    if: ${{ always() }}
    name: 'CI Pass'
    runs-on: 'ubuntu-latest'
    needs:
      - static-job-id
      - test-job-id
    steps:
      - name: check status
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
