name: test

on:
  pull_request:
    branches:
      - develop
      - develop-*

concurrency:
  group: test-${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: '-Dwarnings'
  RUST_BACKTRACE: 1

jobs:
  static-job-id:
    name: static
    runs-on: macos-latest # currently faster than ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: 'Common Test Setup Actions'
        uses: ./.github/actions/common-pre

      - name: static-fmt
        run: make static-fmt

      - name: static-toml
        run: make static-toml

      - name: static-clippy
        run: make static-clippy

      - name: static-doc
        run: make static-doc

      - name: 'Common Test Teardown Actions'
        uses: ./.github/actions/common-post

  test-job-id:
    name: test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [
          ubuntu-latest,
          macos-latest,
          macos-13,
          windows-latest,
        ]
        wasmer-feature: [
          wasmer_sys,
          wasmer_wamr
        ]
        exclude:
          # Our intended target for wasmer_wamr feature is iOS and Android.
          # For now, wasmer_wamr tests are only run on macos-latest.
          # Additionally, building with wasmer_wamr feature flag on windows is not currently working.
          # See https://github.com/holochain/holochain-wasmer/issues/117
          - os: windows-latest
            wasmer-feature: wasmer_wamr
          - os: macos-13
            wasmer-feature: wasmer_wamr
          - os: ubuntu-latest
            wasmer-feature: wasmer_wamr
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: 'Common Test Setup Actions'
        uses: ./.github/actions/common-pre

      - name: install build dependencies (macos-latest | macos-13, wasmer_wamr)
        if: (matrix.os == 'macos-latest' || matrix.os == 'macos-13') && matrix.wasmer-feature == 'wasmer_wamr'
        shell: bash
        run: brew install cmake
    
      - name: install build dependencies (ubuntu-latest, wasmer_wamr)
        if: matrix.os == 'ubuntu-latest' && matrix.wasmer-feature == 'wasmer_wamr'
        shell: bash
        run: sudo apt install -y build-essential cmake g++-multilib libgcc-11-dev lib32gcc-11-dev ccache libclang-dev

      - name: build (windows-latest)
        if: matrix.os == 'windows-latest'
        run: |-
          $env:OPENSSL_NO_VENDOR="1"
          $env:OPENSSL_DIR="$(pwd)\vcpkg\packages\openssl_x64-windows-release"
          $env:SODIUM_LIB_DIR="$(pwd)\vcpkg\packages\libsodium_x64-windows-release\lib"
          make build-workspace-${{ matrix.wasmer-feature }}

      - name: build
        if: matrix.os != 'windows-latest'
        run: make build-workspace-${{ matrix.wasmer-feature }}

      - name: test (windows-latest)
        if: matrix.os == 'windows-latest'
        run: |-
          $env:OPENSSL_NO_VENDOR="1"
          $env:OPENSSL_DIR="$(pwd)\vcpkg\packages\openssl_x64-windows-release"
          $env:SODIUM_LIB_DIR="$(pwd)\vcpkg\packages\libsodium_x64-windows-release\lib"
          make test-workspace-${{ matrix.wasmer-feature }}

      - name: test
        if: matrix.os != 'windows-latest'
        run: make test-workspace-${{ matrix.wasmer-feature }}

      - name: 'Common Test Teardown Actions'
        uses: ./.github/actions/common-post

  ci-pass:
    if: ${{ always() }}
    name: 'All Jobs Pass'
    runs-on: 'ubuntu-latest'
    needs:
      - static-job-id
      - test-job-id
    steps:
      - name: check status
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
