name: test

on:
  pull_request:
    branches:
      - develop
      - develop-*

concurrency:
  group: test-${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"
  RUST_BACKTRACE: 1

jobs:
  static:
    name: static
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: "Common Test Setup Actions"
        uses: ./.github/actions/common-pre

      # we cannot use cmake 4 until openssl-src is updated
      - name: cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: "3.31.x"

      - name: static-fmt
        run: make static-fmt

      - name: static-toml
        run: make static-toml

      - name: static-clippy
        run: make static-clippy

      - name: static-clippy-unstable
        run: make static-clippy-unstable

      - name: static-doc
        run: make static-doc

      - name: "Common Test Teardown Actions"
        uses: ./.github/actions/common-post

  test-wasmer_sys:
    name: test (wasmer_sys)
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target: wasmer_sys
          - os: ubuntu-latest
            target: wasmer_sys-unstable
          - os: ubuntu-latest
            target: wasmer_sys-transport_tx5
          - os: macos-latest
            target: wasmer_sys
          - os: macos-15-intel
            target: wasmer_sys
          - os: depot-windows-2025-8
            target: wasmer_sys
    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: "Common Test Setup Actions"
        uses: ./.github/actions/common-pre

      - name: "Build workspace and run tests"
        uses: ./.github/actions/common-test
        with:
          os: ${{ matrix.os }}
          target: ${{ matrix.target }}
          influx-token: ${{ secrets.INFLUX_TOKEN }}

  # The `wasmer_wamr` tests are split out into a separate job so we can ignore its failures in the `ci-pass` job.
  # This allows the workflow to pass, while still showing the `test-wasmer_wamr` job as failed in the UI.
  test-wasmer_wamr:
    name: test (wasmer_wamr)
    # Our intended target for wasmer_wamr feature is iOS and Android.
    # For now, wasmer_wamr tests are only run on macos-latest
    runs-on: macos-latest
    strategy:
      fail-fast: false
    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: "Common Test Setup Actions"
        uses: ./.github/actions/common-pre
        
      - name: install build dependencies (macos-latest, wasmer_wamr)
        run: |
          brew install llvm
          echo "PATH=/opt/homebrew/opt/llvm/bin:$PATH" >> "$GITHUB_ENV"

      - name: "Build workspace and run tests"
        uses: ./.github/actions/common-test
        with:
          os: "macos-latest"
          target: "wasmer_wamr"
          influx-token: ${{ secrets.INFLUX_TOKEN }}

  ci-pass:
    if: ${{ always() }}
    name: "All Jobs Pass"
    runs-on: "ubuntu-latest"
    needs:
      - static
      - test-wasmer_sys
      - test-wasmer_wamr
    steps:
      - name: check status
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
          allowed-failures: test-wasmer_wamr
