on:
  push:
    branches:
      - "holochain.github.io"
  pull_request:
    branches:
      - "holochain.github.io"
  workflow_dispatch: {}

jobs:
  test_bash_scripts:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Test bash scripts
        run: |
          set -xe
          for script in ./tests/*.sh; do
            bash "$script"
          done
  test_holonix_setup:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Call setup script
        env:
          NIX_CONFIG: "access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}"
        run: |
          set -xe
          bash <(curl https://raw.githubusercontent.com/holochain/holochain/${{ github.sha }}/setup.sh)
      - name: Test nix command
        run: |
          set -x +e
          for file in \
              ~/.profile \
              /etc/profile \
              /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh \
              /nix/var/nix/profiles/default/etc/profile.d/nix.sh
          do
              source $file > /dev/null 2>&1
              if command -v nix; then break; fi
          done
          set -e
          nix run --version
