name: "Update Holonix versions"
on:
  workflow_dispatch:
    inputs:
      version:
        description: |
          One of the directory names under ./versions
        required: true
        default: "false"
        type: choice
        options:
          - "0_1"
          - "0_2"
          - "0_2_rc"
          - "weekly"

concurrency:
  group: ${{ github.ref_name }}

jobs:
  update-holonix-version:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v22
      - name: Get tags
        run: git fetch --quiet --tags origin
      - name: Configure Git
        shell: bash
        run: |
          ./scripts/ci-git-config.sh
      - name: Run the update script
        run: |
          ./scripts/update-holonix-version.sh ${{ github.event.inputs.version }}
          
          echo "Completed source update. Now updating the flake locks"
          
          nix run .#scripts-repo-flake-update ${{ github.event.inputs.version }}
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.HRA_GITHUB_TOKEN }}
          committer: "Holochain Release Automation <hra+gh@holochain.org>"
          title: "Update Holochain version in Holonix for ${{ github.event.inputs.version }}"
          branch: auto-update/${{ github.event.inputs.version }}
          labels: |
            autorebase:opt-in
          draft: false
          delete-branch: true
      - name: Enable auto-merge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        run: gh pr merge --squash --auto "${{ steps.cpr.outputs.pull-request-number }}"
        env:
          GH_TOKEN: ${{ secrets.HRA_GITHUB_TOKEN }}
